<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Management</h5>
            <p class="text-secondary">Plan your Resources as Plan your Projects</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="w-100 py-3 py-md-4 py-lg-5 position-relative bg-theme z-index-0">
    <div class="coverimg w-100 h-100 position-absolute top-0 start-0 opacity-3 z-index-0" style="background-image: url('assets/img/bg-14.jpg');">
        <img src="assets/img/bg-14.jpg" class="d-none" />
    </div>
    <div class="container py-4 py-lg-5 my-lg-5 z-index-1 position-relative">
        <div class="row gx-5 align-items-start">
            <div class="col-12 col-md-6 col-lg-3 position-relative my-4">
                <div class="row align-items-center mb-4">
                    <div class="col-auto">
                        <i class="bi bi-calendar-event h5 avatar avatar-44 bg-green rounded"></i>
                    </div>
                    <div class="col">
                        <h6>Total Days</h6>
                        <p class="text-muted small">Total Working days & past</p>
                    </div>
                </div>
                <div class="row text-center align-items-center">
                    <div class="col">
                        <p class="text-muted small">Total</p>
                        <h3 class="mb-0">31</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Working</p>
                        <h3 class="mb-0">22</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Past</p>
                        <h3 class="mb-0">10</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 position-relative my-4">
                <div class="row align-items-center mb-4">
                    <div class="col-auto">
                        <i class="bi bi-stars h5 avatar avatar-44 bg-yellow rounded"></i>
                    </div>
                    <div class="col">
                        <h6>Holidays</h6>
                        <p class="text-muted small">Days Office closed</p>
                    </div>
                </div>
                <div class="row text-center align-items-center">
                    <div class="col">
                        <p class="text-muted small">Total</p>
                        <h3 class="mb-0">2</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Working</p>
                        <h3 class="mb-0">1</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Closed</p>
                        <h3 class="mb-0">1</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 position-relative my-4">
                <div class="row align-items-center mb-4">
                    <div class="col-auto">
                        <i class="bi bi-balloon-heart h5 avatar avatar-44 bg-pink rounded"></i>
                    </div>
                    <div class="col">
                        <h6>Special Days</h6>
                        <p class="text-muted small">Birthday or Any Celebration</p>
                    </div>
                </div>
                <div class="row text-center align-items-center">
                    <div class="col">
                        <p class="text-muted small">Total</p>
                        <h3 class="mb-0">2</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Working</p>
                        <h3 class="mb-0">2</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Past</p>
                        <h3 class="mb-0">1</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 position-relative my-4">
                <div class="row align-items-center mb-4">
                    <div class="col-auto">
                        <i class="bi bi-house-door h5 avatar avatar-44 bg-purple rounded"></i>
                    </div>
                    <div class="col">
                        <h6>Work from Home</h6>
                        <p class="text-muted small">Days of working from home</p>
                    </div>
                </div>
                <div class="row text-center align-items-center">
                    <div class="col">
                        <p class="text-muted small">Total</p>
                        <h3 class="mb-0">8</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Available</p>
                        <h3 class="mb-0">4</h3>
                    </div>
                    <div class="col border-start">
                        <p class="text-muted small">Completed</p>
                        <h3 class="mb-0">4</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card bg-gradient-theme-light theme-pink border-0 top-60 mb-4">
        <div class="card-body bg-none p-lg-4">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="avatar avatar-60 h3 rounded-circle bg-light-theme">
                        <i class="bi bi-balloon-heart"></i>
                    </div>
                </div>
                <div class="col">
                    <a class="tag mb-2 me-2">
                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg" style="background-image: url('assets/img/user-4.jpg');">
                            <img src="assets/img/user-4.jpg" alt="" class="d-none" />
                        </figure>
                        James Wang <i class="bi bi-chat-right-dots vm ms-2"></i>
                    </a>
                    <a class="tag mb-2 me-2">
                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg" style="background-image: url('assets/img/user-2.jpg');">
                            <img src="assets/img/user-2.jpg" alt="" class="d-none" />
                        </figure>
                        Millie Tyson <i class="bi bi-chat-right-dots vm ms-2"></i>
                    </a>
                    <h5>Your 1 Teammate and our CEO's <span class="text-gradient">birthday</span> today.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-5 col-xl-4 col-xxl-3">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                    <div class="card border-0 bg-gradient-theme-light theme-blue mb-4">
                        <div class="card-header">
                            <div class="row gx-2 align-items-center">
                                <div class="col-auto">
                                    <i class="bi bi-calendar-week h5 me-1 avatar avatar-40 bg-light-theme rounded me-2"></i>
                                </div>
                                <div class="col">
                                    <h6 class="fw-medium mb-1">Daily Status</h6>
                                    <p class="text-secondary">Manage availability</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-0">
                            <div class="row align-items-center text-center mx-0 mb-2">
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-square btn-link">
                                        <i class="bi bi-chevron-left"></i>
                                    </button>
                                </div>
                                <div class="col">
                                    <h6>June 2022</h6>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-square btn-link">
                                        <i class="bi bi-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                            <table class="table table-borderless mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">S</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme">19</button>
                                        </th>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">M</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme active">20</button>
                                        </th>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">T</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme">21</button>
                                        </th>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">W</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme">22</button>
                                        </th>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">T</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme">23</button>
                                        </th>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">F</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme">24</button>
                                        </th>
                                        <th class="text-center px-0">
                                            <p class="small text-secondary">S</p>
                                            <button class="btn btn-sm btn-square rounded-circle btn-outline-theme">25</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7">
                                            <ul class="list-group list-group-flush bg-none">
                                                <li class="list-group-item">
                                                    <div class="row text-secondary">
                                                        <div class="col"><s>Create UI design</s></div>
                                                        <div class="col-auto"><input class="form-check-input" type="checkbox" value="" aria-label="..." checked=""></div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row text-secondary">
                                                        <div class="col"><s>Create HTML Structure</s></div>
                                                        <div class="col-auto"><input class="form-check-input" type="checkbox" value="" aria-label="..." checked=""></div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">Start Development</div>
                                                        <div class="col-auto"><input class="form-check-input" type="checkbox" value="" aria-label="..." checked></div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">Customize 3rd parties</div>
                                                        <div class="col-auto"><input class="form-check-input" type="checkbox" value="" aria-label="..."></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer justify-content-center">
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-sm btn-theme">Update</a>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-sm btn-link text-theme">Create <i class="bi bi-plus vm"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                    <div class="title">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Leave Requests</h5>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm btn-link">Request Leave</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="card border-0 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="avatar avatar-40 rounded-circle coverimg" style="background-image: url('assets/img/user-2.jpg');">
                                                <img src="assets/img/user-2.jpg" alt="" class="d-none">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="small text-secondary mb-1">16-June-2022</p>
                                            <h6 class="fw-medium mb-0">Athiyaa</h6>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-green">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-red">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="card border-0 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="avatar avatar-40 rounded-circle coverimg" style="background-image: url('assets/img/user-3.jpg');">
                                                <img src="assets/img/user-3.jpg" alt="" class="d-none">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="small text-secondary mb-1">13-July-2022</p>
                                            <h6 class="fw-medium mb-0">Sonia</h6>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-green">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-red">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="card border-0 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="avatar avatar-40 rounded-circle coverimg" style="background-image: url('assets/img/user-4.jpg');">
                                                <img src="assets/img/user-4.jpg" alt="" class="d-none">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="small text-secondary mb-1">18-August-2022</p>
                                            <h6 class="fw-medium mb-0">Kim Lui</h6>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-green">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-red">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="card border-0 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="avatar avatar-40 rounded-circle coverimg" style="background-image: url('assets/img/user-4.jpg');">
                                                <img src="assets/img/user-4.jpg" alt="" class="d-none">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="small text-secondary mb-1">18-August-2022</p>
                                            <h6 class="fw-medium mb-0">Kim Lui</h6>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-green">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-sqaure-sm btn-link text-red">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-7 col-xl-8 col-xxl-9">

            <div class="row mb-2">
                <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-2">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 rounded bg-green shadow-sm text-white">
                                        <i class="bi bi-clock h5"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="small text-secondary mb-1">Efforts Allocated</p>
                                    <h6 class="fw-medium mb-0">12858</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="btn btn-sqaure btn-link text-secondary dd-arrow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-2">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 rounded bg-purple shadow-sm text-white">
                                        <i class="bi bi-people h5"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="small text-secondary mb-1">Team Member</p>
                                    <h6 class="fw-medium mb-0">24 People</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="btn btn-sqaure btn-link text-secondary dd-arrow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-2">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 rounded bg-yellow shadow-sm text-white">
                                        <i class="bi bi-journal-check h5"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="small text-secondary mb-1">Tasks in Progress</p>
                                    <h6 class="fw-medium mb-0">18 - 1204 hrs</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="btn btn-sqaure btn-link text-secondary dd-arrow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="card border-0 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="doughnutchart small">
                                        <div class="countvalue text-center">
                                            <div class="text-center w-100">
                                                <h4 class="mb-0">10</h4>
                                                <p class="text-secondary">Total</p>
                                            </div>
                                        </div>
                                        <canvas id="doughnutchart"></canvas>
                                    </div>
                                </div>
                                <div class="col">
                                    <p><span class="avatar avatar-10 rounded-circle bg-red me-1"></span> 1 Birthday</p>
                                    <p><span class="avatar avatar-10 rounded-circle bg-yellow me-1"></span> 2 Leave </p>
                                    <p><span class="avatar avatar-10 rounded-circle bg-blue me-1"></span> 8 Working</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6 class="title">Birthday </h6>
                            <div class="d-block">
                                <a target="_blank" class="tag theme-red mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-4.jpg" alt="" /></figure> James Wang
                                </a>
                            </div>
                            <h6 class="title">Leave</h6>
                            <div class="d-block">
                                <a target="_blank" class="tag theme-yellow mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-3.jpg" alt="" /></figure> Ketti Pattasa
                                </a>
                                <a target="_blank" class="tag theme-yellow mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-1.jpg" alt="" name="userimage" /></figure> Max Smith
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="card border-0 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="doughnutchart small">
                                        <div class="countvalue text-center">
                                            <div class="text-center w-100">
                                                <h4 class="mb-0">10</h4>
                                                <p class="text-secondary">Total</p>
                                            </div>
                                        </div>
                                        <canvas id="doughnutchart2"></canvas>
                                    </div>
                                </div>
                                <div class="col">
                                    <p><span class="avatar avatar-10 rounded-circle bg-red me-1"></span> 6 Office</p>
                                    <p><span class="avatar avatar-10 rounded-circle bg-yellow me-1"></span> 2 Leave </p>
                                    <p><span class="avatar avatar-10 rounded-circle bg-blue me-1"></span> 2 Home</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6 class="title">Office</h6>
                            <div class="d-block">
                                <a class="tag theme-red mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-2.jpg" alt="" /></figure> Aliaa Shen
                                </a>
                                <a target="_blank" class="tag theme-red mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-3.jpg" alt="" /></figure> Ketti Pattasa
                                </a>
                                <a class="tag bg-light-theme theme-red mb-2 me-2">
                                    +4 More
                                </a>
                            </div>
                            <h6 class="title">Home</h6>
                            <div class="d-block">
                                <a target="_blank" class="tag mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-4.jpg" alt="" /></figure> James Wang
                                </a>
                                <a target="_blank" class="tag mb-2 me-2">
                                    <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-2.jpg" alt="" /></figure> Aliaa Shen
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-12 col-xl-4 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="small text-secondary mb-1">Due Date</p>
                                    <p>25/05/2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center mb-1">Prototype</h5>
                            <p class="text-muted text-center mb-4">On the Track</p>
                            <div class="progress h-5 mb-2 bg-light-theme">
                                <div class="progress-bar bg-theme" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="small text-secondary mb-3">Project Status <span class="float-end">50%</span></p>
                            <div class="row align-items-center gx-2">
                                <div class="col-auto avatar-group">
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </div>
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-secondary small mb-0">5 more</p>
                                    <p class="small">Working</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-outline-theme">
                                        <i class="bi bi-person-plus "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-4 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="small text-secondary mb-1">Due Date</p>
                                    <p>30/06/2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center mb-1">Development</h5>
                            <p class="text-muted text-center mb-4">On the Track</p>
                            <div class="progress h-5 mb-2 bg-light-theme">
                                <div class="progress-bar bg-theme" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="small text-secondary mb-3">Project Status <span class="float-end">50%</span></p>
                            <div class="row align-items-center gx-2">
                                <div class="col-auto avatar-group">
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </div>
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-secondary small mb-0">5 more</p>
                                    <p class="small">Working</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-outline-theme">
                                        <i class="bi bi-person-plus "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-4 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="small text-secondary mb-1">Due Date</p>
                                    <p>30/06/2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center mb-1">Web Services</h5>
                            <p class="text-muted text-center mb-4">Down the line</p>
                            <div class="progress h-5 mb-2 bg-light-theme">
                                <div class="progress-bar bg-theme" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="small text-secondary mb-3">Project Status <span class="float-end">30%</span></p>
                            <div class="row align-items-center gx-2">
                                <div class="col-auto avatar-group">
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </div>
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-secondary small mb-0">1 more</p>
                                    <p class="small">Working</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-outline-theme">
                                        <i class="bi bi-person-plus "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-4 d-xl-none mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p class="small text-secondary mb-1">Due Date</p>
                                    <p>12/07/2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center mb-1">QA Support</h5>
                            <p class="text-muted text-center mb-4">On the Track</p>
                            <div class="progress h-5 mb-2 bg-light-theme">
                                <div class="progress-bar bg-theme" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="small text-secondary mb-3">Project Status <span class="float-end">65%</span></p>
                            <div class="row align-items-center gx-2">
                                <div class="col-auto avatar-group">
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-1.jpg" alt="" name="userimage">
                                    </div>
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-secondary small mb-0">2 more</p>
                                    <p class="small">Working</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-outline-theme">
                                        <i class="bi bi-person-plus "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card border-0 mb-4">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="avatar avatar-40 rounded mb-0 coverimg" style="background-image: url('assets/img/favicon152.png');">
                                        <img src="assets/img/favicon152.png" alt="" class="d-none" />
                                    </span>
                                </div>
                                <div class="col">
                                    <h6 class="fw-medium mb-0">Project Progress</h6>
                                    <p class="text-secondary small">Currently</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center mb-3">
                                <div class="col">
                                    <p class="mb-1">webgetdoors</p>
                                    <h5 class="fw-medium mb-0">2152 hrs <small class="fw-normal">(50.83%)</small></h5>
                                    <p class="small text-secondary">Currently 6 developer, 1 Manager are working on this.</p>
                                    <span class="btn btn-sm btn-link bg-light-green text-green">Web App</span>
                                    <span class="btn btn-sm btn-link bg-light-yellow text-yellow ms-1">Medium priority</span>
                                </div>
                            </div>
                            <div class="row align-items-center gx-2">
                                <div class="col-auto mb-2 avatar-group">
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-2.jpg" alt="" />
                                    </div>
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-3.jpg" alt="" />
                                    </div>
                                    <div class="avatar avatar-40 coverimg rounded-circle">
                                        <img src="assets/img/user-4.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <p class="text-secondary small mb-0">5 more</p>
                                    <p class="small">Working</p>
                                </div>
                                <div class="col-auto mb-3">
                                    <button class="btn btn-square btn-outline-theme">
                                        <i class="bi bi-person-plus "></i>
                                    </button>
                                </div>
                            </div>
                            <div class="progress bg-light-theme h-5 mb-2">
                                <div class="progress-bar bg-theme" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="small text-secondary mb-3">Project Status <span class="float-end">50%</span></p>
                            <span class="btn btn-sm btn-link bg-light-theme">Due date: 22 March 2022</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card border-0 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center gx-2">
                                <div class="col">
                                    <p class="text-secondary small">9:30 am | 5 hrs</p>
                                    <h6>Searchbar Header</h6>
                                    <p class="text-secondary small mb-3">Get the tabbed categories result and clubbed result in main tab.</p>
                                    <div class="coverimg rounded h-120 overflow-hidden mb-3" style="background-image: url('assets/img/tour-guide-2.png');">
                                        <img src="assets/img/tour-guide-2.png" class="w-100" alt="" style="display: none;">
                                    </div>
                                    <span class="btn btn-sm btn-link bg-light-blue">Code</span>
                                    <span class="btn btn-sm btn-link bg-light-pink text-pink mx-1">Development</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center gx-2">
                                <div class="col">
                                    <div class="avatar avatar-30 coverimg rounded-circle me-1" data-bs-toggle="tooltip" title="" style="background-image: url(&quot;assets/img/user-2.jpg&quot;);" data-bs-original-title="Dhanitara">
                                        <img src="assets/img/user-2.jpg" alt="" style="display: none;">
                                    </div>
                                    <div class="avatar avatar-30 coverimg rounded-circle me-1" data-bs-toggle="tooltip" title="" style="background-image: url(&quot;assets/img/user-3.jpg&quot;);" data-bs-original-title="Shrivalli">
                                        <img src="assets/img/user-3.jpg" alt="" style="display: none;">
                                    </div>
                                    <div class="avatar avatar-30 bg-light-theme rounded-circle me-1">
                                        <p class="small">2+</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="bi bi-paperclip avatar avatar-36 bg-light-gray rounded"></i>
                                    <i class="bi bi-chat-right-dots avatar avatar-36 bg-light-gray rounded"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="card border-0 mb-4">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="fw-medium mb-0">Daily Meeting</h6>
                                    <p class="text-secondary small">WinDOORS Project</p>
                                </div>
                                <div class="col-auto ps-0">
                                    <a class="btn btn-square btn-outline-theme btn-md"><i class="bi bi-person-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i class="bi bi-calendar-event h5 avatar avatar-40 bg-light-theme rounded"></i>
                                </div>
                                <div class="col">
                                    <h6 class="fw-medium mb-0">25-01-2021 4:15pm</h6>
                                    <p class="text-secondary small">at Greta Anthony Meeting-Room</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col-auto avatar-group">
                                    <div class="avatar avatar-44 coverimg rounded-circle me-1" style="background-image: url('assets/img/user-2.jpg');">
                                        <img src="assets/img/user-2.jpg" alt="" style="display: none;">
                                    </div>
                                    <div class="avatar avatar-44 coverimg rounded-circle me-1" style="background-image: url('assets/img/user-3.jpg');">
                                        <img src="assets/img/user-3.jpg" alt="" style="display: none;">
                                    </div>
                                    <div class="avatar avatar-44 coverimg rounded-circle me-1" style="background-image: url('assets/img/user-4.jpg');">
                                        <img src="assets/img/user-4.jpg" alt="" style="display: none;">
                                    </div>
                                </div>
                                <div class="col ps-0">
                                    <p class="text-secondary small mb-0">Joined</p>
                                    <p>9+</p>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-theme btn-md">Join</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 theme-green mb-4">
                        <div class="row h-100 mx-0">
                            <div class="col-auto col-xl-4 p-2 position-relative">
                                <div class="coverimg position-absolute start-0 top-0 h-100 w-100 rounded" style="background-image: url('assets/img/news-6.jpg');">
                                    <img src="assets/img/news-6.jpg" alt="" class="d-none">
                                </div>
                                <div class="rounded bg-theme text-white p-2 h-100 d-flex flex-column">
                                    <i class="bi bi-clock h5 mb-3"></i>
                                    <p class="text-muted small mb-1 mt-auto">
                                        Effort
                                    </p>
                                    <p>2542<small>h</small></p>
                                </div>
                            </div>
                            <div class="col col-xxl-8 px-0">
                                <div class="card-body">
                                    <h6>WinDOORS Project</h6>
                                    <div class="row  mb-3">
                                        <div class="col">
                                            <p class="text-secondary small mb-0">Set Reminder</p>
                                            <p class="small">2 reminders</p>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-chat-right-dots avatar avatar-36 bg-light-theme rounded"></i>
                                        </div>
                                    </div>
                                    <div class="progress h-5 mb-2 bg-light-theme">
                                        <div class="progress-bar bg-theme" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="small text-secondary">Project Status <span class="float-end">75%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>