<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Personalization</h5>
            <p class="text-secondary">Customize style feel it better</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col text-center">
            <h3>Do you <span class="text-gradient">love to see things</span> around which <span class="text-gradient">you like</span> the most?</h3>
            <p class="lead text-secondary">Why not in application? Let's personalize your application interface now.</p>
        </div>
    </div>
    <div class="row mb-5 md-xl-5 align-items-center">
        <div class="col-auto mx-auto col-xxl-auto px-5 position-relative mt-4">
            <img src="assets/img/cactus-1.png" alt="" class="cactus-1" />
            <img src="assets/img/cactus-2.png" alt="" class="cactus-2" />
            <div class="personalise-colors personalise-preview">
                <div class="colors-wrapper">
                    <figure class="coverimg h-100 w-100 position-absolute mb-0 main-bg" style="background-image: url('assets/img/bg-14.jpg');">
                        <img src="assets/img/bg-14.jpg" alt="" class="d-none" />
                    </figure>
                    <div class="main-overlay-bg">
                        <div class="sidebar-wrap"></div>
                        <div class="main-content-bg">
                            <div class="line">This are </div>
                            <div class="line text-secondary">Pre-defined Colors</div>
                            <div class="card border-0 p-2">
                                <div class="line">Try it!</div>
                                <div class="button-bg bg-theme"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-auto ">Light</div>
                <div class="col-auto px-0">
                    <div class="form-check form-switch sunmoon">
                        <input class="form-check-input" type="checkbox" role="switch" id="btn-layout-modes-dark" [checked]="mode === 'dark-mode'" (change)="selectMode($event)">
                        <label class="form-check-label" for="btn-layout-modes-dark">
                            <i class="bi bi-brightness-low sun"></i>
                            <i class="bi bi-moon-stars moon"></i>
                        </label>
                    </div>
                </div>
                <div class="col-auto">Dark</div>
            </div>
        </div>
        <div class="col-12 col-xxl">
            <ul class="personalise-color-list">
                <li data-title="theme-blue" [ngClass]="{'active': theme === 'theme-blue'}" (click)="selectTheme('theme-blue')">
                    <div class="personalise-colors bg-blue">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-14.jpg');">
                                <img src="assets/img/bg-14.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-blue"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Blue</p>
                </li>
                <li data-title="theme-indigo" [ngClass]="{'active': theme === 'theme-indigo'}" (click)="selectTheme('theme-indigo')">
                    <div class="personalise-colors bg-indigo">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-15.jpg');">
                                <img src="assets/img/bg-15.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-indigo"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Indigo</p>
                </li>
                <li data-title="theme-purple" [ngClass]="{'active': theme === 'theme-purple'}" (click)="selectTheme('theme-purple')">
                    <div class="personalise-colors bg-purple">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-5.jpg');">
                                <img src="assets/img/bg-5.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-purple"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Purple</p>
                </li>
                <li data-title="theme-pink" [ngClass]="{'active': theme === 'theme-pink'}" (click)="selectTheme('theme-pink')">
                    <div class="personalise-colors bg-pink">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-17.png');">
                                <img src="assets/img/bg-17.png" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-pink"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Pink</p>
                </li>
                <li data-title="theme-red" [ngClass]="{'active': theme === 'theme-red'}" (click)="selectTheme('theme-red')">
                    <div class="personalise-colors bg-red">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-16.jpg');">
                                <img src="assets/img/bg-16.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-red"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Red</p>
                </li>
                <li data-title="theme-orange" [ngClass]="{'active': theme === 'theme-orange'}" (click)="selectTheme('theme-orange')">
                    <div class="personalise-colors bg-orange">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-1.jpg');">
                                <img src="assets/img/bg-1.jpg" alt="" class="w-100 d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-orange"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Orange</p>
                </li>
                <li data-title="theme-yellow" [ngClass]="{'active': theme === 'theme-yellow'}" (click)="selectTheme('theme-yellow')">
                    <div class="personalise-colors bg-yellow">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-18.jpg');">
                                <img src="assets/img/bg-18.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-yellow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Yellow</p>
                </li>
                <li data-title="theme-green" [ngClass]="{'active': theme === 'theme-green'}" (click)="selectTheme('theme-green')">
                    <div class="personalise-colors bg-green">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-20.jpg');">
                                <img src="assets/img/bg-20.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Green</p>
                </li>
                <li data-title="theme-teal" [ngClass]="{'active': theme === 'theme-teal'}" (click)="selectTheme('theme-teal')">
                    <div class="personalise-colors bg-teal">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-2.jpg');">
                                <img src="assets/img/bg-2.jpg" alt="" class="w-100 d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-teal"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Teal</p>
                </li>
                <li data-title="theme-cyan" [ngClass]="{'active': theme === 'theme-cyan'}" (click)="selectTheme('theme-cyan')">
                    <div class="personalise-colors bg-cyan">
                        <div class="colors-wrapper">
                            <figure class="coverimg h-100 w-100 position-absolute rounded mb-0" style="background-image: url('assets/img/bg-19.jpg');">
                                <img src="assets/img/bg-19.jpg" alt="" class="d-none" />
                            </figure>
                            <div class="main-overlay-bg">
                                <div class="main-content-bg">
                                    <div class="line">Text here</div>
                                    <div class="line text-secondary">Text line two here</div>
                                    <div class="card border-0 p-2">
                                        <div class="line">Text here</div>
                                        <div class="button-bg bg-cyan"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Cyan</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <h3>People also love to <span class="text-gradient">mix up things & choose</span> better one.</h3>
            <p class="lead text-secondary">Personalization is just build for you, Pick the best only.</p>
            <p class="lead text-secondary"></p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="accordion accordion-theme" id="personalizeAccord">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="personalizeAccorHdOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalizeAccordOne" aria-expanded="false" aria-controls="personalizeAccordOne">
                            Theme color
                        </button>
                    </h2>
                    <div id="personalizeAccordOne" class="accordion-collapse collapse" aria-labelledby="personalizeAccorHdOne" data-bs-parent="#personalizeAccord">
                        <div class="accordion-body">
                            <div class="row" id="theme-select">
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-blue'}" data-title="theme-blue" (click)="selectThemeColor('theme-blue')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-blue"></span>
                                        </div>
                                        <p class="small">Blue</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-indigo'}" data-title="theme-indigo" (click)="selectThemeColor('theme-indigo')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-indigo"></span>
                                        </div>
                                        <p class="small">Indigo</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-purple'}" data-title="theme-purple" (click)="selectThemeColor('theme-purple')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-purple"></span>
                                        </div>
                                        <p class="small">Purple</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-pink'}" data-title="theme-pink" (click)="selectThemeColor('theme-pink')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-pink"></span>
                                        </div>
                                        <p class="small">Pink</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-red'}" data-title="theme-red" (click)="selectThemeColor('theme-red')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-red"></span>
                                        </div>
                                        <p class="small">Red</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-orange'}" data-title="theme-orange" (click)="selectThemeColor('theme-orange')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-orange"></span>
                                        </div>
                                        <p class="small">Orange</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-yellow'}" data-title="theme-yellow" (click)="selectThemeColor('theme-yellow')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-yellow"></span>
                                        </div>
                                        <p class="small">Yellow</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-green'}" data-title="theme-green" (click)="selectThemeColor('theme-green')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-green"></span>
                                        </div>
                                        <p class="small">Green</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-teal'}" data-title="theme-teal" (click)="selectThemeColor('theme-teal')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-teal"></span>
                                        </div>
                                        <p class="small">Teal</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': themeColor === 'theme-cyan'}" data-title="theme-cyan" (click)="selectThemeColor('theme-cyan')">
                                        <div class="avatar avatar-60">
                                            <span class="avatar avatar-40 bg-cyan"></span>
                                        </div>
                                        <p class="small">Cyan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="personalizeAccordHTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalizeAccordTwo" aria-expanded="false" aria-controls="personalizeAccordTwo">
                            Background Image
                        </button>
                    </h2>
                    <div id="personalizeAccordTwo" class="accordion-collapse collapse" aria-labelledby="personalizeAccordHTwo" data-bs-parent="#personalizeAccord">
                        <div class="accordion-body">
                            <div class="row" id="theme-background">
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-1.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-1.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-1.jpg');">
                                                <img src="assets/img/bg-1.jpg" alt="" class="w-100" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-2.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-2.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-2.jpg');">
                                                <img src="assets/img/bg-2.jpg" alt="" class="w-100" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-3.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-3.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-3.jpg');">
                                                <img src="assets/img/bg-3.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-4.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-4.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-4.jpg');">
                                                <img src="assets/img/bg-4.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-5.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-5.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-5.jpg');">
                                                <img src="assets/img/bg-5.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-6.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-6.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-6.jpg');">
                                                <img src="assets/img/bg-6.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-7.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-7.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-7.jpg');">
                                                <img src="assets/img/bg-7.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-8.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-8.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-8.jpg');">
                                                <img src="assets/img/bg-8.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-9.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-9.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-9.jpg');">
                                                <img src="assets/img/bg-9.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-10.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-10.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-10.jpg');">
                                                <img src="assets/img/bg-10.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-11.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-11.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-11.jpg');">
                                                <img src="assets/img/bg-11.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-12.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-12.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-12.jpg');">
                                                <img src="assets/img/bg-12.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-13.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-13.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-13.jpg');">
                                                <img src="assets/img/bg-13.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-14.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-14.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-14.jpg');">
                                                <img src="assets/img/bg-14.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-15.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-15.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-15.jpg');">
                                                <img src="assets/img/bg-15.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-16.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-16.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-16.jpg');">
                                                <img src="assets/img/bg-16.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-17.png'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-17.png')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-17.png');">
                                                <img src="assets/img/bg-17.png" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-18.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-18.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-18.jpg');">
                                                <img src="assets/img/bg-18.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-19.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-19.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-19.jpg');">
                                                <img src="assets/img/bg-19.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="select-box text-center mb-2" [ngClass]="{'selected': backgroundImage === 'assets/img/bg-20.jpg'}" data-title="theme-blue" (click)="selectBackgroundImage('assets/img/bg-20.jpg')">
                                        <div class="avatar avatar-100">
                                            <span class="avatar avatar-80 bg-blue coverimg" style="background-image: url('assets/img/bg-20.jpg');">
                                                <img src="assets/img/bg-20.jpg" alt="" style="display: none;" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="personalizeAccordHThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalizeAccordThree" aria-expanded="false" aria-controls="personalizeAccordThree">
                            Sidebar Fill Color
                        </button>
                    </h2>
                    <div id="personalizeAccordThree" class="accordion-collapse collapse" aria-labelledby="personalizeAccordHThree" data-bs-parent="#personalizeAccord">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-md-auto py-3 py-lg-0">
                                    <div class="personalise-colors personalise-preview-sidebar" [ngClass]="{'active': sidebarFillColor === ''}" data-title="" (click)="selectSidebarFillColor('')">
                                        <div class="colors-wrapper">
                                            <figure class="coverimg h-100 w-100 position-absolute mb-0 main-bg" style="background-image: url(&quot;assets/img/bg-10.jpg&quot;);">
                                                <img src="assets/img/bg-14.jpg" alt="">
                                            </figure>
                                            <div class="main-overlay-bg">
                                                <div class="main-content-bg">
                                                    <div class="line">Sidebar</div>
                                                    <div class="line text-secondary">Default Color</div>
                                                    <div class="card border-0 p-2">
                                                        <div class="line">Try it!</div>
                                                        <div class="button-bg bg-theme"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto py-3 py-lg-0">
                                    <div class="personalise-colors personalise-preview-sidebar sidebar-filled" [ngClass]="{'active': sidebarFillColor === 'sidebar-filled'}" data-title="sidebar-filled" (click)="selectSidebarFillColor('sidebar-filled')">
                                        <div class="colors-wrapper">
                                            <figure class="coverimg h-100 w-100 position-absolute mb-0 main-bg" style="background-image: url(&quot;assets/img/bg-10.jpg&quot;);">
                                                <img src="assets/img/bg-14.jpg" alt="">
                                            </figure>
                                            <div class="main-overlay-bg">
                                                <div class="sidebar-preview main"></div>
                                                <div class="main-content-bg">
                                                    <div class="line">Sidebar</div>
                                                    <div class="line text-secondary">Theme Color</div>
                                                    <div class="card border-0 p-2">
                                                        <div class="line">Try it!</div>
                                                        <div class="button-bg bg-theme"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto py-3 py-lg-0">
                                    <div class="personalise-colors personalise-preview-sidebar" [ngClass]="{'active': sidebarFillColor === 'sidebar-filled-theme'}" data-title="sidebar-filled-theme" (click)="selectSidebarFillColor('sidebar-filled-theme')">
                                        <div class="colors-wrapper">
                                            <figure class="coverimg h-100 w-100 position-absolute mb-0 main-bg" style="background-image: url(&quot;assets/img/bg-10.jpg&quot;);">
                                                <img src="assets/img/bg-14.jpg" alt="">
                                            </figure>
                                            <div class="main-overlay-bg">
                                                <div class="sidebar-preview bg-theme"></div>
                                                <div class="main-content-bg">
                                                    <div class="line">Sidebar</div>
                                                    <div class="line text-secondary">Theme Color</div>
                                                    <div class="card border-0 p-2">
                                                        <div class="line">Try it!</div>
                                                        <div class="button-bg bg-theme"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="personalizeAccordHFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalizeAccordFour" aria-expanded="false" aria-controls="personalizeAccordFour">
                            Sidebar Style
                        </button>
                    </h2>
                    <div id="personalizeAccordFour" class="accordion-collapse collapse" aria-labelledby="personalizeAccordHFour" data-bs-parent="#personalizeAccord">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-md-auto py-3 py-lg-0">
                                    <div class="sidebarstyle card border-0 shadow-sm" [ngClass]="{'active': sidebarStyle === 'sidebar-pushcontent'}" data-title="sidebar-pushcontent" (click)="selectSidebarStyle('sidebar-pushcontent')">
                                        <div class="card-body bg-none">
                                            <img src="assets/img/supportive-pages/sidebar-pushcontent.png" alt="" class="w-100 rounded border mb-3">
                                            <div class="row align-items-center">
                                                <div class="col text-center">
                                                    <h5>Push Content</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto py-3 py-lg-0">
                                    <div class="sidebarstyle card border-0 shadow-sm" [ngClass]="{'active': sidebarStyle === 'sidebar-overlay'}" data-title="sidebar-overlay" (click)="selectSidebarStyle('sidebar-overlay')">
                                        <div class="card-body bg-none">
                                            <img src="assets/img/supportive-pages/sidebar-overlay.png" alt="" class="w-100 rounded border mb-3">
                                            <div class="row align-items-center">
                                                <div class="col text-center">
                                                    <h5>Overlay</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto py-3 py-lg-0">
                                    <div class="sidebarstyle card border-0 shadow-sm" [ngClass]="{'active': sidebarStyle === 'sidebar-fullscreen'}" data-title="sidebar-fullscreen" (click)="selectSidebarStyle('sidebar-fullscreen')">
                                        <div class="card-body bg-none">
                                            <img src="assets/img/supportive-pages/sidebar-fullscreen.png" alt="" class="w-100 rounded border mb-3">
                                            <div class="row align-items-center">
                                                <div class="col text-center">
                                                    <h5>Fullscreen</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>