<div class="container-fluid border-bottom px-0">
    <ul class="nav py-2">
        <li class="nav-item">
            <a class="nav-link" routerLink="/pages/app/email/"><i class="bi bi-arrow-left"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="bi bi-trash vm"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="bi bi-exclamation-circle vm"></i></a>
        </li>
        <li class="nav-item d-none d-md-block">
            <a class="nav-link"><i class="bi bi-clock vm"></i></a>
        </li>
        <li class="nav-item d-none d-md-block">
            <a class="nav-link"><i class="bi bi-tag vm"></i></a>
        </li>
        <li class="nav-item d-none d-sm-block">
            <a class="nav-link"><i class="bi bi-reply h5"></i></a>
        </li>
        <li class="nav-item d-none d-sm-block">
            <a class="nav-link"><i class="bi bi-reply-all h5"></i></a>
        </li>
        <li class="nav-item d-none d-md-block">
            <a class="nav-link"><i class="bi bi-send"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-secondary " data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="javascript:void(0)">Mark all read</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)">Junk</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)">Spam</a></li>
                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report</a></li>
            </ul>
        </li>
        <li class="nav-item ms-auto">
            <a class="nav-link"><i class="bi bi-star text-secondary vm"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="bi bi-flag text-yellow vm"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="bi bi-question-circle"></i></a>
        </li>
    </ul>
</div>
<div class="container-fluid border-bottom">
    <div class="row py-2">
        <div class="col-12 col-md align-self-center">
            <div class="row mb-3">
                <div class="col-auto">
                    <figure class="m-0 avatar avatar-50 rounded-circle coverimg" style="background-image: url('assets/img/user-4.jpg');">
                        <img src="assets/img/user-4.jpg" alt="" style="display: none;" />
                    </figure>
                </div>
                <div class="col">
                    <h6 class="mt-1 mb-0"> John Smith </h6>
                    <p><span class="text-secondary">john@maxartkiller.com</span></p>
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-auto">
                    <small class="vm text-secondary">To: </small>
                </div>
                <div class="col">
                    <a class="tag mb-2 me-2">
                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg" style="background-image: url('assets/img/user-1.jpg');">
                            <img src="assets/img/user-1.jpg" alt="" style="display: none;" name="userimage" />
                        </figure>
                        Maxartkiller
                    </a>
                    <a class="tag mb-2 me-2">
                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg" style="background-image: url('assets/img/user-3.jpg');">
                            <img src="assets/img/user-3.jpg" alt="" style="display: none;" />
                        </figure>
                        Jaimini
                    </a>
                    <a class="tag mb-2 me-2">
                        <div class="avatar avatar-30 rounded-circle">+2</div>
                    </a>
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-auto">
                    <small class="vm text-secondary">CC: </small>
                </div>
                <div class="col">
                    <a href="profile.html" class="tag mb-2 me-2">
                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-2.jpg" alt=""></figure> Lincaa AB
                    </a>
                </div>
            </div>
        </div>
        <div class="col-auto col-md-auto ms-auto">
            <p class="mt-1">Feb 22
                <span class="text-secondary">8:00pm</span>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-8 py-4 mx-auto">
            <p>Hello Maxartkiller and Team,</p>
            <br>
            <h6>"Greetings from WinDOORS"</h6>
            <br>
            <p>This is awesome product and, I am very happy with delivery & product is awesome product and, I am very happy with delivery & product packaging Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor
                sit
                amet, consectetur adipiscing elit. Pellentesque eleifend Lorem. ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend</p>

            <p>Iipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem
                ipsum
                dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend</p>
            <br>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p> This is awesome product &<br>I am very happy with delivery & product packaging.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Team Lead <cite title="Source Title">WinDOORS</cite>
                </figcaption>
            </figure>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend</p>

            <p>Thanks,</p>

            <h6>John Smith</h6>
            <p>CEO-Apples Solution</p>

        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-11 col-lg-10 col-xl-8 py-4 mx-auto">
            <div class="row mb-4">
                <div class="col-auto">
                    <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-reply h4 me-2"></i> Reply</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-reply-all h4 me-2"></i> Reply All</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-send h5 me-2"></i> Forward</button>
                </div>
            </div>

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-header text-center py-4">
                    <h5 class="mb-1">You are trying to <span class="text-gradient">Reply all</span> in response</h5>
                    <p class="text-secondary small">Collect all required information before any communication.</p>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-3">
                        <div class="col-auto">
                            <p class="text-secondary">To:</p>
                        </div>
                        <div class="col">
                            <tagify [(ngModel)]="tags" [settings]="settings" [whitelist]="whitelist$" [readonly]="readonly" (add)="onAdd($event)" (remove)="onRemove($event)"></tagify>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-auto">
                            <p class="text-secondary">CC:</p>
                        </div>
                        <div class="col">
                            <tagify [(ngModel)]="tags2" [settings]="settings" [whitelist]="whitelist$" [readonly]="readonly" (add)="onAdd($event)" (remove)="onRemove($event)"></tagify>
                        </div>
                    </div>
                    <p class="text-secondary">Your message</p>
                    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
                    <p class="text-secondary my-2"><span class="badge bg-yellow fw-medium me-1 vm">CKEditor Demo</span> Awesome features & pricing <a href="https://ckeditor.com/pricing/" target="_blank">Read more</a></p>

                    <div class="row gx-2 mt-4">
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-paperclip me-0 me-md-2"></i> <span class="d-none d-md-inline-block">Attachment</span></button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-link h5 me-0 me-md-2"></i> <span class="d-none d-md-inline-block">Insert Link</span></button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-vector-pen me-0 me-md-2"></i> <span class="d-none d-md-inline-block">Sign</span></button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-link text-danger" type="button"><i class="bi bi-trash h4 me-2"></i> Discard</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-theme" type="button"><i class="bi bi-send h4 me-2"></i> Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>