<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Contact us</h5>
            <p class="text-secondary">Do let your customer can communicate with you </p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container-fluid coverimg h-250 mb-4" style="background-image: url('assets/img/bg-21.jpg');">
    <img src="assets/img/bg-21.jpg" alt="" class="d-none" />
</div>

<div class="container">
    <div class="text-center">
        <h2>We are <span class="text-gradient">Happy to Help you</span></h2>
        <p class="text-secondary mb-4">Contact us now, we will be back to you as soon as possible</p>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="row">
                <div class="col-12 col-md-6 mb-2">
                    <div class="form-group mb-3 position-relative check-valid">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-person"></i></span>
                            <div class="form-floating">
                                <input type="text" placeholder="First Name" value="Max" required class="form-control border-start-0">
                                <label>First Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback mb-3">Add valid data </div>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <div class="form-group mb-3 position-relative check-valid">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-person"></i></span>
                            <div class="form-floating">
                                <input type="text" placeholder="Last Name" value="Johnson" required class="form-control border-start-0">
                                <label for="">last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback mb-3">Add valid data </div>
                </div>

                <div class="col-12 col-md-12 mb-2">
                    <div class="form-group mb-3 position-relative check-valid">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-envelope"></i></span>
                            <div class="form-floating">
                                <input type="email" placeholder="Email Address" required class="form-control border-start-0">
                                <label>Email Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback mb-3">Add valid data </div>
                </div>

                <div class="col-12 col-md-12 mb-2">
                    <div class="form-group mb-3 position-relative check-valid">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-chat-right-text"></i></span>
                            <div class="form-floating">
                                <textarea placeholder="Message" class="form-control border-start-0 h-auto" rows="4"></textarea>
                                <label>Message</label>
                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback mb-3">Add valid data </div>
                </div>

            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-theme">Submit Message</button>
            </div>
        </div>
    </div>

    <!-- email communication -->
    <div class="row justify-content-center my-4">
        <div class="col-12 col-md-6 col-xl-4 text-md-end p-4">
            <h5>Technical problem</h5>
            <p class="text-mute">If you have any type of technical challenges and would like to get help from us please drop an email at <a href="mailto:info@maxartkiller.coms">tech@maxartkiller.coms</a>
            </p>
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-4 border-left-dashed">
            <h5>General Support</h5>
            <p class="text-mute">If you have any type of challenges regarding products and would like to get help from us please drop an email at <a href="mailto:info@maxartkiller.coms">sales@maxartkiller.coms</a>
            </p>
        </div>
    </div>

    <!-- quick connect links -->
    <div class="row ">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card bg-white border-0 text-center mb-4">
                <div class="card-body p-4 px-lg-5">
                    <i class="bi bi-person-video3 display-4 text-theme mb-2 d-block"></i><br>
                    <h4>Schedule a Demo</h4>
                    <p class="text-secondary">Get details of features and quick look on how it works. Schedule a demo now.</p>
                    <button class="btn btn-link">Book Demo</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div class="card bg-white border-0 text-center mb-4">
                <div class="card-body p-4 px-lg-5">
                    <i class="bi bi-chat-right-dots display-4 text-theme mb-2 d-block"></i><br>
                    <h4>Communicate</h4>
                    <p class="text-secondary">You have live assistant with whom you can share your concern & get answered quickly.</p>
                    <button class="btn btn-link">Start Chat</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div class="card bg-white border-0 text-center mb-4">
                <div class="card-body p-4 px-lg-5">
                    <i class="bi bi-life-preserver display-4 text-theme mb-2 d-block"></i><br>
                    <h4>Get Support</h4>
                    <p class="text-secondary">Connect with our expert by submitting details with photos and documents.</p>
                    <button class="btn btn-link">Raise Ticket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <h5 class="mb-3">There are other ways to get out from all other your trouble to simplify your view and remove confusion.</h5>
                <p>Its possible human made mistakes and possibly we may missed it. We are happy to assist you as well as upgrade our system. Do let us know your query, concern and feedback.</p>
            </div>
        </div>
    </div>
</div>