<div class="page-style1 light-mode default-sidebar error-page1">
    <div class="login-img">
        <div class="page">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-5">
                                <div class="login-option">
                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                        <li ngbNavItem="Firebase">
                                            <a ngbNavLink>
                                                <img src="https://jatun-files.s3.amazonaws.com/Panel/Logo_JatunAyllu2+oficial.png" alt="">
                                            </a>
                                            <ng-template ngbNavContent>
                                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                                    <div class="text-center title-style mb-6">
                                                        <h1 class="mb-2">JATUN AYLLU</h1>
                                                        <hr>
                                                        <p class="text-muted">RECUPERAR CONTRASEÑA | JATUN AYLLU</p>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                      <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                        <i class="fa fa-user text-muted" aria-hidden="true"></i>
                                                      </a>
                                                      <input class="input100 border-start-0 form-control ms-0"
                                                        placeholder="Ingrese usuario" formControlName="username" >
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-lg btn-primary btn-block {{disabled}}"
                                                            [disabled]="!loginForm.valid">
                                                          Recuperar
                                                        </button>
                                                    </div>
                                                    <div class="text-center pt-3">
                                                        <p class="text-dark mb-0">Ya tienes una cuenta?<a routerLink="/auth/login" class="text-primary ms-1">Ingresar</a></p>
                                                    </div>
                                                    <!-- <div class="text-center col-12">
                                                      <a routerLink="/auth/register" class="text-primary ms-1 btn">
                                                          Registrarse</a>
                                                    </div> -->
                                                </form>
                                            </ng-template>
                                          </li>
                                    </ul>
                                </div>
                                <div class="card card-group mb-0">
                                    <div class="card p-4">
                                        <div class="card-body">
                                            <div [ngbNavOutlet]="nav" class="ml-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex align-items-center justify-content-center" style="background-color: aliceblue; height: 40px; position: relative">
            <div class="text-center">
                Copyright © {{date | date:'yyyy'}} <a href="javascript:void(0);">JATUN AYLLU</a> | Diseñado y Desarrollado <span class="fa fa-spotify text-primary"></span> por <a href="https://iprime.pe/" target="_blank"> iPrime.</a>        
            </div>
        </div>
    </div>
  </div>
  