<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Progress</h5>
            <p class="text-secondary">Stay updated where you are with progress</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container">

    <h5 class="title">Circular Progress</h5>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-white rounded-circle text-center shadow-sm mb-2">
                                    <div class="circle-small theme-blue mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="50" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-blue rounded-circle">
                                            <i class="bi bi-globe"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-secondary small mb-1">6.5 GB</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Webspace</p>
                            <h5 class="fw-medium">5.5GB <small>used</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-white rounded-circle text-center shadow-sm mb-2">
                                    <div class="circle-small theme-yellow mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="75" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-yellow text-yellow rounded-circle">
                                            <i class="bi bi-file-earmark-richtext"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-secondary small mb-1">3500k </p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Server</p>
                            <h5 class="fw-medium">2569k <small>Files</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-white rounded-circle text-center shadow-sm mb-2">
                                    <div class="circle-small theme-red mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="45" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-red text-red rounded-circle">
                                            <i class="bi bi-device-ssd"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-secondary small mb-1">1.5 TB</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">SSD used</p>
                            <h5 class="fw-medium">1.15<small>TB</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card bg-theme border-0 mb-4">
                <div class="card-body bg-none">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-theme rounded-circle text-center shadow mb-2">
                                    <div class="circle-small mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="50" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'#ffffff'" [innerStrokeColor]="'rgba(255, 255, 255, 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-white text-white rounded-circle">
                                            <i class="bi bi-envelope-check"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-white text-muted small mb-1">$ 1.5k</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-muted small mb-1">Bills</p>
                            <h5 class="fw-medium">186 <small>USD</small></h5>
                        </div>
                        <div class="col-auto ps-0 avatar-group">
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Shelvey Doe">
                                <img src="assets/img/user-2.jpg" alt="">
                            </figure>
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Maria Smith">
                                <img src="assets/img/user-3.jpg" alt="">
                            </figure>
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Steve Branden">
                                <img src="assets/img/user-4.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="circle-small theme-blue">
                                <circle-progress class="d-block vm" [percent]="45" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                <div class="avatar h5 bg-light-blue rounded-circle">
                                    <i class="bi bi-calendar2-check"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Task Completed</p>
                            <h5 class="fw-medium">60<small>%</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="circle-small theme-yellow">
                                <circle-progress class="d-block vm" [percent]="55" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                <div class="avatar h5 bg-light-yellow text-yellow rounded-circle">
                                    <i class="bi bi-building"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Construction Invested</p>
                            <h5 class="fw-medium">12550<small>USD</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="circle-small theme-red">
                                <circle-progress class="d-block vm" [percent]="95" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="true" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="true" [backgroundPadding]="0"></circle-progress>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Good will</p>
                            <h5 class="fw-medium">95<small>%</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="circle-small theme-purple">
                                <circle-progress class="d-block vm" [percent]="55" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="true" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="true" [backgroundPadding]="0"></circle-progress>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Construction Profit</p>
                            <h5 class="fw-medium">12550<small>USD</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="title">Status Progress</h5>
    <ul class="progress-stepbar mb-3">
        <li class="completed"><span>Order Placed</span></li>
        <li class="completed"><span>Packed</span></li>
        <li class="completed"><span>Invoiced</span></li>
        <li class="stop"><span>Shipped</span></li>
        <li><span>Delivered</span></li>
    </ul>

    <ul class="progress-stepbar theme-purple mb-3">
        <li class="completed"><span>Order Placed</span></li>
        <li class="completed"><span>Packed</span></li>
        <li class="stop"><span>Invoiced</span></li>
        <li class=""><span>Shipped</span></li>
        <li><span>Delivered</span></li>
    </ul>

    <ul class="progress-stepbar theme-pink mb-3">
        <li class="completed"><span>Order Placed</span></li>
        <li class="stop"><span>Packed</span></li>
        <li class=""><span>Invoiced</span></li>
        <li class=""><span>Shipped</span></li>
        <li><span>Delivered</span></li>
    </ul>

    <h5 class="title">Icon + Status Progress</h5>
    <ul class="progress-icon-stepbar mb-3">
        <li class="completed">
            <div>
                <i class="bi bi-cart"></i><br><span>Ordered</span>
            </div>
        </li>
        <li class="completed">
            <div>
                <i class="bi bi-box"></i><br><span>Packed</span>
            </div>
        </li>
        <li class="completed">
            <div>
                <i class="bi bi-receipt"></i><br><span>Invoiced</span>
            </div>
        </li>
        <li class="stop">
            <div>
                <i class="bi bi-truck"></i><br><span>Shipped</span>
            </div>
        </li>
        <li>
            <div>
                <i class="bi bi-house-door"></i><br><span>Delivered</span>
            </div>
        </li>
    </ul>

    <ul class="progress-icon-stepbar theme-green mb-3">
        <li class="completed">
            <div>
                <i class="bi bi-cart"></i><br><span>Ordered</span>
            </div>
        </li>
        <li class="completed">
            <div>
                <i class="bi bi-box"></i><br><span>Packed</span>
            </div>
        </li>
        <li class="stop">
            <div>
                <i class="bi bi-receipt"></i><br><span>Invoiced</span>
            </div>
        </li>
        <li class="">
            <div>
                <i class="bi bi-truck"></i><br><span>Shipped</span>
            </div>
        </li>
        <li>
            <div>
                <i class="bi bi-house-door"></i><br><span>Delivered</span>
            </div>
        </li>
    </ul>

    <ul class="progress-icon-stepbar theme-yellow mb-3">
        <li class="completed">
            <div>
                <i class="bi bi-cart"></i><br><span>Ordered</span>
            </div>
        </li>
        <li class="stop">
            <div>
                <i class="bi bi-box"></i><br><span>Packed</span>
            </div>
        </li>
        <li class="">
            <div>
                <i class="bi bi-receipt"></i><br><span>Invoiced</span>
            </div>
        </li>
        <li class="">
            <div>
                <i class="bi bi-truck"></i><br><span>Shipped</span>
            </div>
        </li>
        <li>
            <div>
                <i class="bi bi-house-door"></i><br><span>Delivered</span>
            </div>
        </li>
    </ul>

    <h5 class="title">Progressbar</h5>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="progress h-5 mb-3">
                <div class="progress-bar bg-green" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress h-5 mb-3">
                <div class="progress-bar bg-yellow" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress h-5 mb-3">
                <div class="progress-bar bg-orange" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress h-10 mb-3">
                <div class="progress-bar bg-red" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress h-10 mb-3">
                <div class="progress-bar bg-pink progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress h-10 mb-3">
                <div class="progress-bar progress-bar-striped bg-purple" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-indigo" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-blue" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-teal" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-green" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="progress bg-light-green mb-3">
                        <div class="progress-bar bg-green" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-yellow mb-3">
                        <div class="progress-bar bg-yellow" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-orange mb-3">
                        <div class="progress-bar bg-orange" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-red mb-3">
                        <div class="progress-bar bg-red" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-pink mb-3">
                        <div class="progress-bar bg-pink progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-purple mb-3">
                        <div class="progress-bar progress-bar-striped bg-purple" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-teal mb-3">
                        <div class="progress-bar progress-bar-striped bg-teal" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress bg-light-green">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-green" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="title">Multiple Progress</h5>
    <div class="progress mb-3">
        <div class="progress-bar bg-blue" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-green" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-yellow" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress h-30 mb-4">
        <div class="progress-bar bg-purple" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
        <div class="progress-bar bg-pink" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
        <div class="progress-bar bg-yellow" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
    </div>

</div>