<a class="btn btn-link btn-square text-secondary dd-arrow-none dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    <i class="bi bi-columns"></i>
</a>
<div class="dropdown-menu dropdown-menu-end">
    <div class="dropdown-item text-center">
        <div class="row gx-3 mb-3">
            <div class="col-6">
                <div class="row select-column-size gx-1">
                    <div class="col-8" data-title="8" [ngClass]="{'active': scale === 8}" (click)="updated(8)"><span></span></div>
                    <div class="col-4" data-title="4" [ngClass]="{'active': scale === 4}" (click)="updated(4)"><span></span></div>
                </div>
            </div>
            <div class="col-6">
                <div class="row select-column-size gx-1">
                    <div class="col-9" data-title="9" [ngClass]="{'active': scale === 9}" (click)="updated(9)"><span></span></div>
                    <div class="col-3" data-title="3" [ngClass]="{'active': scale === 3}" (click)="updated(3)"><span></span></div>
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-6">
                <div class="row select-column-size gx-1">
                    <div class="col-6" data-title="6" [ngClass]="{'active': scale === 6}" (click)="updated(6)"><span></span></div>
                    <div class="col-6" data-title="6" [ngClass]="{'active': scale === 6}" (click)="updated(6)"><span></span></div>
                </div>
            </div>
            <div class="col-6">
                <div class="row select-column-size gx-1">
                    <div class="col-12" data-title="12" [ngClass]="{'active': scale === 12}" (click)="updated(12)"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>