<!-- Begin page content -->
<main class="main h-100 container-fluid bg-blur">
    <!-- background -->
    <div class="coverimg h-100 w-100 top-0 start-0 position-absolute" style="background-image: url('assets/img/bg-5.jpg');">
        <img src="assets/img/bg-5.jpg" alt="" class="w-100" style="display: none;" />
    </div>
    <!-- background ends  -->

    <div class="row h-100 z-index-1 position-relative">
        <div class="col-12 mb-auto">
            <!-- header -->
            <app-auth-header class="text-white header d-block"></app-auth-header>
            <!-- header ends -->
        </div>
        <div class="col-12 align-self-center py-4">
            <router-outlet></router-outlet>
        </div>
        <div class="col-12 mt-auto">
            <!-- footer -->
            <app-auth-footer class="footer row text-white"></app-auth-footer>
            <!-- footer ends -->
        </div>

    </div>

</main>