<app-switcher></app-switcher>
<div class="page">
  <div class="page-main">
    <!-- // header -->
    <app-header [show]="show" (miEvento) = "sidebar($event)" ></app-header>
    <!-- //sidebar -->
    <app-sidebar [show]="show" appHoverEffectSidebar [menu]="data_menu"></app-sidebar>
    <div class="jumps-prevent" style="padding-top: 74px;"></div>
    <div class="main-content app-content mt-0">
      <app-loader></app-loader>
      <div class="side-app" [ngClass]="{ 'pt-74': scrolled }">
        <div class="main-container container-fluid" (click)="toggleSwitcherBody()">
          <!-- // contetnt  -->
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!-- right sidebar -->
  <app-right-sidebar></app-right-sidebar>
  <app-footer></app-footer>
</div>
<app-tab-to-top></app-tab-to-top>
