<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Card</h5>
            <p class="text-secondary">Card Components</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>



<div class="container">
    <!-- text cards -->
    <h5 class="title">Text Cards</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <h6 class="fw-medium">Demo text card without header</h6>
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo text card with header</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 me-1 avatar avatar-40 bg-light-theme rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo text card with header + icon</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- image cards -->
    <h5 class="title">Image Cards</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="coverimg w-100 h-180 position-relative" style="background-image: url('assets/img/bg-20.jpg');">
                    <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                            </div>
                            <div class="col-auto">
                                <div class="dropup d-inline-block">
                                    <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                        <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/bg-20.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <h6 class="fw-medium">Demo image card without header</h6>
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo image card with header</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="coverimg w-100 h-180 position-relative" style="background-image: url('assets/img/bg-8.jpg');">
                    <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                            </div>
                            <div class="col-auto">
                                <div class="dropup d-inline-block">
                                    <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                        <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/bg-8.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 me-1 avatar avatar-40 bg-light-theme rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo image card with header + icon</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="coverimg w-100 h-180 position-relative" style="background-image: url('assets/img/bg-14.jpg');">
                    <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                            </div>
                            <div class="col-auto">
                                <div class="dropup d-inline-block">
                                    <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                        <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/bg-14.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- menu tabs cards -->
    <h5 class="title">Tabs Cards</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header px-0">
                    <ul class="nav nav-tabs nav-WinDOORS nav-fill" id="navtabscard" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Tab 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Tab 2</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Tab 3</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-navtabscard">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <h6 class="fw-medium">Tab 1</h6>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                            <h6 class="fw-medium">Tab 2</h6>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                            <h6 class="fw-medium">Tab 3</h6>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo image card with header</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs nav-WinDOORS nav-fill rounded-0 mb-3" id="navtabscard2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab11-tab" data-bs-toggle="tab" data-bs-target="#tab11" type="button" role="tab" aria-controls="tab11" aria-selected="true">Tab 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab21-tab" data-bs-toggle="tab" data-bs-target="#tab21" type="button" role="tab" aria-controls="tab21" aria-selected="false">Tab 2</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab31-tab" data-bs-toggle="tab" data-bs-target="#tab31" type="button" role="tab" aria-controls="tab31" aria-selected="false">Tab 3</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-navtabscard2">
                        <div class="tab-pane fade show active" id="tab11" role="tabpanel" aria-labelledby="tab11-tab">
                            <h6 class="fw-medium">Tab 1</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab21" role="tabpanel" aria-labelledby="tab21-tab">
                            <h6 class="fw-medium">Tab 2</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab31" role="tabpanel" aria-labelledby="tab31-tab">
                            <h6 class="fw-medium">Tab 3</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 me-1 avatar avatar-40 bg-light-theme rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo image card with header + icon</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-navtabscard3">
                        <div class="tab-pane fade show active" id="tab12" role="tabpanel" aria-labelledby="tab12-tab">
                            <h6 class="fw-medium">Tab 1</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab22" role="tabpanel" aria-labelledby="tab22-tab">
                            <h6 class="fw-medium">Tab 2</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab32" role="tabpanel" aria-labelledby="tab32-tab">
                            <h6 class="fw-medium">Tab 3</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <ul class="nav nav-tabs nav-WinDOORS footer-tabs nav-fill" id="navtabscard3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab12-tab" data-bs-toggle="tab" data-bs-target="#tab12" type="button" role="tab" aria-controls="tab12" aria-selected="true">Tab 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab22-tab" data-bs-toggle="tab" data-bs-target="#tab22" type="button" role="tab" aria-controls="tab22" aria-selected="false">Tab 2</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab32-tab" data-bs-toggle="tab" data-bs-target="#tab32" type="button" role="tab" aria-controls="tab32" aria-selected="false">Tab 3</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header px-0">
                    <ul class="nav nav-tabs nav-WinDOORS" id="navtabscard3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab13-tab" data-bs-toggle="tab" data-bs-target="#tab13" type="button" role="tab" aria-controls="tab13-tab" aria-selected="true">Tab 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab23-tab" data-bs-toggle="tab" data-bs-target="#tab23" type="button" role="tab" aria-controls="tab23" aria-selected="false">Tab 2</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab33-tab" data-bs-toggle="tab" data-bs-target="#tab33" type="button" role="tab" aria-controls="tab33" aria-selected="false">Tab 3</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-navtabscard3">
                        <div class="tab-pane fade show active" id="tab13" role="tabpanel" aria-labelledby="tab13-tab">
                            <h6 class="fw-medium">Tab 1</h6>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab23" role="tabpanel" aria-labelledby="tab23-tab">
                            <h6 class="fw-medium">Tab 2</h6>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab33" role="tabpanel" aria-labelledby="tab33-tab">
                            <h6 class="fw-medium">Tab 3</h6>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo image card with header</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs nav-WinDOORS rounded-0 mb-3" id="navtabscard13" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab11-tab" data-bs-toggle="tab" data-bs-target="#tab11" type="button" role="tab" aria-controls="tab11" aria-selected="true">Tab 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab21-tab" data-bs-toggle="tab" data-bs-target="#tab21" type="button" role="tab" aria-controls="tab21" aria-selected="false">Tab 2</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab31-tab" data-bs-toggle="tab" data-bs-target="#tab31" type="button" role="tab" aria-controls="tab31" aria-selected="false">Tab 3</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-navtabscard13">
                        <div class="tab-pane fade show active" id="tab113" role="tabpanel" aria-labelledby="tab113-tab">
                            <h6 class="fw-medium">Tab 1</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab213" role="tabpanel" aria-labelledby="tab213-tab">
                            <h6 class="fw-medium">Tab 2</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab313" role="tabpanel" aria-labelledby="tab313-tab">
                            <h6 class="fw-medium">Tab 3</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 me-1 avatar avatar-40 bg-light-theme rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo image card with header + icon</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-navtabscard23">
                        <div class="tab-pane fade show active" id="tab123" role="tabpanel" aria-labelledby="tab123-tab">
                            <h6 class="fw-medium">Tab 1</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab223" role="tabpanel" aria-labelledby="tab223-tab">
                            <h6 class="fw-medium">Tab 2</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                        <div class="tab-pane fade" id="tab323" role="tabpanel" aria-labelledby="tab323-tab">
                            <h6 class="fw-medium">Tab 3</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <ul class="nav nav-tabs nav-WinDOORS footer-tabs" id="navtabscard23" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab123-tab" data-bs-toggle="tab" data-bs-target="#tab123" type="button" role="tab" aria-controls="tab123" aria-selected="true">Tab 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab223-tab" data-bs-toggle="tab" data-bs-target="#tab223" type="button" role="tab" aria-controls="tab223" aria-selected="false">Tab 2</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab323-tab" data-bs-toggle="tab" data-bs-target="#tab323" type="button" role="tab" aria-controls="tab323" aria-selected="false">Tab 3</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Colored cards -->
    <h5 class="title">Colored Cards</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card bg-gradient-theme-light border-0 mb-4">
                <div class="card-body bg-none">
                    <h6 class="fw-medium">Demo text card without header</h6>
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card bg-gradient-theme-light theme-green border-0 mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo text card with header</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-none">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card bg-gradient-theme-light theme-red border-0 mb-4">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 me-1 avatar avatar-40 bg-light-theme rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo text card with header + icon</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-none">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card bg-gradient-theme-light theme-purple border-0 mb-4">
                <div class="card-body">
                    <h6 class="fw-medium">Demo text card without header</h6>
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-link">View more</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card bg-gradient-theme-light theme-yellow border-0 mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo text card with header</h6>
                            <p class="text-secondary small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-link">View more</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card bg-theme theme-pink border-0 mb-4">
                <div class="card-header bg-none">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 me-1 avatar avatar-40 bg-light-white rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Demo text card with header + icon</h6>
                            <p class="text-muted small">Change world is a combine effort.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-none">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <p class="text-muted">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-4.html">Read more...</a> </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-link">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>