<div class="page-header">
    <h1 class="page-title my-auto">Jatun Ayllu</h1>
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"> <a href="/"><i class="fe fe-home"></i></a></li>
            <li class="breadcrumb-item"> <a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reconsumo</li>
        </ol>
    </div>
</div>
<div class="row my-3">
    <div class="col-lg-3 col-md-3 col-sm-12" *ngFor="let data of productos">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-12" style="border-radius: 10px;">
                    <div class="card-body row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <h3>{{data.nombre}}</h3>
                        </div>
                        <hr>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <img src="{{data.url_img}}" alt="" style="width: 30%;">
                        </div>
                        <hr style="margin-top: 8px;">
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center" style="border-right: 3px solid #BFCDDA;">
                            <p>PRECIO</p>
                            <p>S/ {{data.precio}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                            <p>CANTIDAD</p>
                            <input type="number" [id]="data.id" class="form-control" value="0" (keyup)="getCantidad($event, data)" (change)="getCantidad($event, data)">
                            <!-- <p>{{data.cantidad}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-lg-1 col-md-1 col-sm-12"></div>
    <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-12" style="border-radius: 10px;">
                    <form [formGroup]="formPass" class="card-body row">
                        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                            <p>Total Pagar:</p>
                            <p>S/ {{total_precio.toFixed(2)}}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                            <p>Banco:</p>
                            <div class="form-group">
                                <ng-select formControlName="banco"
                                        [items]="banco"
                                        bindLabel="name"
                                        bindValue="id"
                                        placeholder="BANCO*">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                            <p>N° Operación</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                        <i class="fa fa-reorder" aria-hidden="true"></i>
                                    </a>
                                    <input autocomplete="off" class="form-control" type="text" formControlName="operacion" placeholder="" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                            <p>Fecha Pago:</p>
                            <input autocomplete="off" class="form-control" type="date" formControlName="fecha" required>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                            <p>Voucher:</p>
                            <input type="file" class="form-control" accept="image/*" (change)="onSelect($event)">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12 text-center">
                            <br>
                            <button class="btn btn-outline-primary" (click)="subirIMG()" [disabled]="!formPass.valid" 
                                *ngIf="files.length>0">Pedir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12"></div>
</div>
<div class="card">
    <div class="card-header">
        RECONSUMO DEL MES
    </div>
    <form [formGroup]="formfiltros" class="card-body row">
        <div class="col-md-12 col-sm-12 col-lg-3 mb-2">
            <div class="form-group">
            <small class="form-label"><b>Filtrar Estado</b></small>
            <ng-select class="text-uppercase"
                        formControlName="estados"
                        [items]="estados"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="SELECCIONAR ESTADO"
                        (change)="selectEstado($event)">
            </ng-select>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive invoice-table" id="table">
                <ng-template #idTpl let-rowIndex="rowIndex" let-row="row">
                    {{rowIndex+1}}
                </ng-template>
                <ng-template #is_estado let-data="adtData" let-emitter="captureEvents">
                    <p *ngIf="data.estado">
                        <span class="badge bg-warning p-1" *ngIf="data.estado.name=='PENDIENTE'">{{data.estado.name}}</span>
                        <span class="badge bg-danger p-1" *ngIf="data.estado.name=='ANULADO'">{{data.estado.name}}</span>
                        <span class="badge bg-success p-1" *ngIf="data.estado.name=='APROBADO'">{{data.estado.name}}</span>
                        <span class="badge bg-success p-1" *ngIf="data.estado.name=='ENTREGADO'">{{data.estado.name}}</span>
                    </p>
                    <p *ngIf="!data.estado">
                        <span class="badge bg-light text-dark p-1">Sin Estado</span>
                    </p>
                </ng-template>
                <ng-template #dtActions let-data="adtData" let-emitter="captureEvents">
                    <app-buttons-table-reconsumo [actions]="dataTableActions" [data]="data" (emitter)="emitter($event)"></app-buttons-table-reconsumo>
                </ng-template>
                <table id="material--template-dt" datatable *ngIf="columns.length"  [dtOptions]="dtOptions"
                style="width: 100%;" [dtTrigger]="dtTrigger"></table>
            </div>
        </div>
    </form>
</div>
<!-- Modal IMG -->
<ng-template #modal_img let-modal>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h5>Imagen Comprobante {{data_detalle.cliente.id}} {{data_detalle.cliente.id}}</h5>
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
           <img src="{{data_detalle.url_voucher}}" alt="#" style="width: 100%;">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <hr>
            <button class="btn btn-danger" (click)="closeModalIMG()"> Cerrar</button>
        </div>
    </div>
</ng-template>
<!-- SPINNER -->
<ngx-spinner type="timer"></ngx-spinner>