<div class="page-header">
    <h1 class="page-title my-auto">Jatun Ayllu</h1>
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"> <a href="/"><i class="fe fe-home"></i></a></li>
            <li class="breadcrumb-item"> <a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mi Perfil</li>
        </ol>
    </div>
</div>
<div class="row" id="user-profile">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="wideget-user mb-2">
                <div class="row">
                    <div class="col-lg-12 col-md-12" *ngIf="profile">
                        <div class="row">
                            <div class="panel profile-cover">
                                <div class="profile-cover__action bg-img"></div>
                                <div class="profile-cover__img">
                                    <a href="javascript:void(0)" class="profile-img-1" (click)="openModalIMG()">
                                        <img src="{{userImg}}" alt="img"/>
                                        <!-- <img src="{{profile.data.img_perfil}}" alt="img"/> -->
                                    </a>
                                    <div class="profile-img-content text-dark text-start">
                                        <div class="text-dark">
                                            <h3 class="h3 mb-2 text-capitalize">{{userName}}</h3>
                                            <h5 class="text-muted">Afiliado</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="px-0 px-sm-4">
                                <div class="social social-profile-buttons mt-5 float-end" style="display: flex;">
                                    <p class="mx-4"><i class="fe fe-mail fs-15"></i> Email <br> {{profile.email}}</p>
                                    <p class="mx-4"><i class="fe fe-phone fs-15"></i> Celular <br> {{profile.telefono}}</p>
                                    <p class="mx-4"><i class="fe fe-calendar fs-15"></i> Nacimiento <br> {{profile.fecha_nacimiento | date:'dd/MM/yyyy'}}</p>
                                    <p class="mx-4"><i class="fe fe-map-pin fs-15"></i> Dirección <br> {{profile.direccion}}</p>
                                    <!-- <p class="mx-4"><i class="fe fe-map fs-15"></i> Pais <br> robin@gmail.com</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <hr>
                        <button class="btn btn-primary" (click)="openModal()">Restablecer Contraseña</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Restablecer -->
<ng-template #add let-modal>
    <div class="modal-header">
        <h5 class="modal-title"><b>Restablecer Contraseña</b></h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="formPass" class="modal-body row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>Contraseña antigua</small>
            <div class="input-group mb-4">
                <a href="javascript:void(0)" class="input-group-text bg-white text-muted"
                   (click)="togglePasswordMode()">
                  <i [className]="'text-muted fa fa-'+iconpassword" aria-hidden="true"></i>
                </a>
                <input #passwordEyeRegister [type]="passwordTypeInput" name="password" class="form-control"
                    placeholder="******" formControlName="old_pass" >
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>Nueva contraseña</small>
            <div class="input-group mb-4">
                <a href="javascript:void(0)" class="input-group-text bg-white text-muted"
                   (click)="togglePasswordMode2()">
                  <i [className]="'text-muted fa fa-'+iconpassword2" aria-hidden="true"></i>
                </a>
                <input #passwordEyeRegister2 [type]="passwordTypeInput2" name="new_pass" class="form-control"
                    placeholder="******" formControlName="new_pass" >
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>Confirmar contraseña</small>
            <div class="input-group mb-4">
                <a href="javascript:void(0)" class="input-group-text bg-white text-muted"
                   (click)="togglePasswordMode3()">
                  <i [className]="'text-muted fa fa-'+iconpassword3" aria-hidden="true"></i>
                </a>
                <input #passwordEyeRegister3 [type]="passwordTypeInput3" name="confirm_pass" class="form-control"
                    placeholder="******" formControlName="confirm_pass" >
            </div>
        </div>
        <button class="col-sm-12 col-md-12 col-lg-12 my-2 btn btn-primary" [disabled]="!formPass.valid" (click)="update()">
            <i class="fa fa-save"></i> Guardar</button>
    </form>
</ng-template>
<!-- Modal IMG -->
<ng-template #modal_img let-modal>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h5>Cambiar Imagen Perfil</h5>
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                    Selecciona Nueva Imagen
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <hr>
            <button class="btn btn-danger" (click)="closeModalIMG()"> Cerrar</button>
            <button class="btn btn-primary mx-2" (click)="subirIMG()"> Actualizar</button>
        </div>
    </div>
</ng-template>
<!-- SPINNER -->
<ngx-spinner type="timer"></ngx-spinner>