<!-- BACKGROUND-IMAGE -->
<div class="login-img">
    <!-- PAGE -->
    <div class="page">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12"></div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="container-login100">
                    <div class="wrap-login100 p-6">
                        <form [formGroup]="formRegister" class="validate-form">
                            <span class="login100-form-title">Registrarse</span>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <ng-select formControlName="pais"
                                                [items]="pais"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="SELECCIONAR PAIS*"
                                                (change)="selectPais($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-id-card" aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" type="text" formControlName="numDoc" (keyup)="getInfoCliente($event)"
                                                onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                                placeholder="N° Documento" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" type="text" formControlName="nombres" 
                                                placeholder="NOMBRES" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" type="text" formControlName="apellidos" 
                                                placeholder="APELLIDOS" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <ng-select formControlName="genero"
                                                [items]="genero"
                                                bindLabel="name"
                                                bindValue="name"
                                                placeholder="GENERO*">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <ng-select formControlName="prefijo"
                                                [items]="prefijo"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="PREFIJO*"
                                                (change)="selectPais($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" placeholder="CELULAR"
                                               formControlName="celular" maxlength="9" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" >
                                        </div>
                                        <div *ngIf="formRegister.controls['celular'].invalid&&(formRegister.controls['celular'].dirty||
                                            formRegister.controls['celular'].touched)" >
                                            <div *ngIf="formRegister.controls['celular'].errors?.required">
                                                <small class="text-danger">Por favor ingrese su celular</small>
                                            </div>
                                            <div *ngIf="formRegister.controls['celular'].errors?.maxlength">
                                                <small class="text-danger">El celular debe tener como maximo 15 caracteres</small>
                                            </div>
                                            <div *ngIf="formRegister.controls['celular'].errors?.minlength">
                                                <small class="text-danger">Debe contener como maximo 9 caracteres</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-email" aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" type="email" formControlName="email" 
                                                placeholder="EMAIL" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" type="date" formControlName="fecha_nac"
                                                required  placement="top" ngbTooltip="Fecha Nacimiento">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <ng-select formControlName="departamento"
                                                [items]="departamento"
                                                bindLabel="name"
                                                bindValue="id_dep"
                                                placeholder="DEPARTAMENTO*"
                                                (change)="selectDepartamento($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <ng-select formControlName="provincia"
                                                [items]="provincia"
                                                bindLabel="name"
                                                bindValue="id_pro"
                                                placeholder="PROVINCIA*"
                                                (change)="selectProvincia($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <ng-select formControlName="distrito"
                                                [items]="distrito"
                                                bindLabel="name"
                                                bindValue="id_dist"
                                                placeholder="DISTRITO*">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-map-marker " aria-hidden="true"></i>
                                            </a>
                                            <input autocomplete="off" class="form-control" placeholder="DIRECCION"
                                               formControlName="direccion">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 row">
                                    <hr> 
                                    <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let pack of packs">
                                        <div class="card text-center text-uppercase justify-content-center" 
                                            [style.border]=" '1px solid black !important'" [style.background]="pack.data.color">
                                            <div style="margin: 1% 1% 1% 1%;">
                                                <small>{{pack.name}}</small>
                                                <br>
                                                <small>{{pack.descriptions}} --> S/ {{pack.total_price}}</small>
                                                <br>
                                                <button (click)="openModal(pack)" class="btn btn-outline-primary btn-sm my-2">Seleccionar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  class="col-sm-12 col-md-12 col-lg-12 text-center my-3 text-white" *ngIf="!validar_pago">
                                <ngb-alert type="warning" [dismissible]="false">
                                    <i class="fa fa-money me-2" aria-hidden="true"></i> <b> Falta Subir el Comprobante del Pago</b><br>
                                </ngb-alert>
                            </div>   
                            <div  class="col-sm-12 col-md-12 col-lg-12 text-center my-3 text-white" *ngIf="validar_pago">
                                <ngb-alert type="success" [dismissible]="false">
                                    <i class="fa fa-money me-2" aria-hidden="true"></i> <b> Comprobante de Pago Subido</b><br>
                                </ngb-alert>
                            </div>   
                            <!-- <label class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Aceptar los <a routerLink="/pages/extension/faqs">términos y condiciones</a></span>
                            </label> -->
                            <div class="container-login100-form-btn">
                                <button (click)="register()" class="btn btn-block btn-outline-primary" *ngIf="validar_pago"
                                    [disabled]="!formRegister.valid">
                                    Registrarme
                                </button>
                            </div>
                            <div class="text-center pt-3">
                                <p class="text-dark mb-0">Ya tienes una cuenta?<a routerLink="/auth/login" class="text-primary ms-1">Ingresar</a></p>
                            </div>
                        </form>
                    </div>
                </div></div>
            <div class="col-lg-4 col-md-4 col-sm-12"></div>
        </div>
    </div>
    <!-- END PAGE -->
    <div class="container d-flex align-items-center justify-content-center" style="background-color: aliceblue; height: 40px; position: relative">
        <div class="text-center">
            Copyright © {{date | date:'yyyy'}} <a href="javascript:void(0);">JATUN AYLLU</a> | Diseñado y Desarrollado <span class="fa fa-spotify text-primary"></span> por <a href="https://iprime.pe/" target="_blank"> iPrime.</a>        
        </div>
    </div>
</div>
<!-- Modal Validar -->
<ng-template #add let-modal>
    <div class="modal-header">
        <h5 class="modal-title"><b>Validar Voucher Pack</b></h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="formPass" class="modal-body row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>Banco</small>
            <div class="form-group">
                <ng-select formControlName="banco"
                        [items]="banco"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="SELECCIONAR BANCO*">
                </ng-select>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>N° Operación</small>
            <div class="form-group">
                <div class="input-group">
                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="fa fa-reorder" aria-hidden="true"></i>
                    </a>
                    <input autocomplete="off" class="form-control" type="text" formControlName="operacion" placeholder="" required>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>Fecha Pago</small>
            <div class="form-group">
                <div class="input-group">
                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                    <input autocomplete="off" class="form-control" type="date" formControlName="fecha" required>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <small>Imagen Comprobante Pago</small> 
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                    Selecciona Nueva Imagen
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </div>
        </div>
        <button class="col-sm-12 col-md-12 col-lg-12 my-2 btn btn-primary" [disabled]="!formPass.valid" (click)="update()" *ngIf="files.length>0">
            <i class="fa fa-save"></i> Guardar</button>
    </form>
</ng-template>
<!-- BACKGROUND-IMAGE CLOSED -->
<ngx-spinner type="timer"></ngx-spinner>