<div class="card border-0 mb-2">
    <div class="input-group input-group-md">
        <span class="input-group-text text-theme"><i class="bi bi-calendar-event"></i></span>
        <input type="text" placeholder="Select date range" readonly="readonly" id="daterange" class="form-control bg-white px-0" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
    </div>
    <div class="card-body p-0 calendarwindow" id="calendardisplay">
    </div>
</div>
<div class="card border-0 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-40 coverimg rounded-circle">
                    <img src="assets/img/user-2.jpg" alt="" />
                </figure>
            </div>
            <div class="col ps-0">
                <p><a href="profile.html">Angelina David</a>, <a href="profile.html">John McMillan</a> and <span class="fw-medium">36 others</span> are also order from same website</p>
                <p class="text-secondary small">2:14 pm <a href="javascript:void(0)" class="float-end text-secondary text-muted"><i class="bi bi-trash"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-40 rounded-circle bg-theme">
                    <span class="h6 vm">JM</span>
                </figure>
            </div>
            <div class="col ps-0">
                <p><a href="profile.html">Jack Mario</a> commented: "This one is most usable design with great user experience. w..."</p>
                <p class="text-secondary small">2 days ago <a href="javascript:void(0)" class="float-end text-secondary text-muted"><i class="bi bi-trash"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning mb-2">
    <div class="row">
        <div class="col-auto">
            <figure class="avatar avatar-40 rounded-circle bg-warning text-white">
                <i class="bi bi-bell"></i>
            </figure>
        </div>
        <div class="col ps-0">
            <p>Your subscription going to expire soon. Please <a href="profile-subscription.html">upgrade</a> to get service interrupt free.</p>
            <p class="text-secondary small">4 days ago <a href="javascript:void(0)" class="float-end text-secondary text-muted"><i class="bi bi-trash"></i></a></p>
        </div>
    </div>
</div>
<div class="card border-0 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-40 coverimg rounded-circle">
                    <img src="assets/img/user-4.jpg" alt="" />
                </figure>
            </div>
            <div class="col ps-0">
                <p><a href="finance-sendmoney.html">Roberto Carlos</a> has requested to send $120.00 money.</p>
                <p class="text-secondary small">4 days ago <a href="javascript:void(0)" class="float-end text-secondary text-muted"><i class="bi bi-trash"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-40 rounded-circle bg-light-theme">
                    <i class="bi bi-calendar-event"></i>
                </figure>
            </div>
            <div class="col ps-0">
                <p class="h6 fw-medium">WINUX: getWinDOORS</p>
                <p>Learning for better user experience on Universal app. development</p>
                <div class="mb-3">
                    <figure class="avatar avatar-24 coverimg rounded-circle" data-bs-toggle="tooltip" title="Angelina David">
                        <img src="assets/img/user-2.jpg" alt="" />
                    </figure>
                    <figure class="avatar avatar-24 coverimg rounded-circle" data-bs-toggle="tooltip" title="Switty Johnson">
                        <img src="assets/img/user-3.jpg" alt="" />
                    </figure>
                    <div class="avatar avatar-24 bg-light-theme rounded-circle">
                        <small class="fs-10 vm">9+</small>
                    </div>
                    <span class="text-secondary small"> are attending</span>
                </div>
                <p class="text-secondary small">4 days ago <a href="javascript:void(0)" class="float-end text-secondary text-muted"><i class="bi bi-trash"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-40 coverimg rounded-circle bg-theme">
                    <img src="assets/img/favicon72.png" alt="" />
                </figure>
            </div>
            <div class="col ps-0">
                <p><a href="profile.html">The Maxartkiller</a> commented: "Thank you so much for this deep view at getWinDOORS..."</p>
                <p class="text-secondary small">6 days ago <a href="javascript:void(0)" class="float-end text-secondary text-muted"><i class="bi bi-trash"></i></a></p>
            </div>
        </div>
    </div>
</div>