<div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-10 col-xl-7 col-xxl-6">
        <div class="card bg-blur">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-auto">

                    </div>
                    <div class="col-auto mx-auto align-self-center text-center">
                        <a class="navbar-brand d-block vm" href="#">
                            <div class="row">
                                <div class="col-auto"><img src="assets/img/favicon48.png" class="mx-100" alt="" name="logoimage" /></div>
                                <div class="col ps-0 align-self-center">
                                    <h5 class="fw-normal text-dark">WinDOORS</h5>
                                    <p class="small text-secondary">Admin App UI</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- content -->
                <div class="row">
                    <div class="col-12 col-md-6 text-left position-relative">
                        <img src="assets/img/onboardingsummary.png" alt="" class="mw-100 left-13" />
                    </div>
                    <div class="col-12 col-md-6 align-self-center py-4">
                        <h1 class="display-4">Thank you!</h1>
                        <p class="h4 fw-light mb-4">Taking you to the Dashboard</p>
                        <p class="text-secondary small mb-3">
                            You have done smart selection for your project. You can now customize color scheme, font, sidebar, header style and content styles from our creative customizer from dashboard inner pages.
                            you can skip waiting by <a href="" id="redirecttolink">Clicking Here</a>
                        </p>
                    </div>
                </div>
                <!-- content ends -->
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-auto align-self-center">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-44 coverimg rounded-circle">
                                    <img src="assets/img/user-1.jpg" alt="" id="userimage" name="userimage" />
                                </div>
                            </div>
                            <div class="col ps-0 align-self-center">
                                <p class="mb-0 text-theme" id="usernamedisplay">Maxartkiller</p>
                                <p class="small text-secondary">United States</p>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center">

                    </div>
                    <div class="col-auto">
                        <div class="row text-end">
                            <div class="col pe-0 align-self-center">
                                <p class="mb-0"><a href="">Please wait</a></p>
                                <p class="small text-secondary">Great things are preparing</p>
                            </div>
                            <div class="col-auto align-self-center">
                                <!-- waiting loader -->
                                <div class="progressstimer">
                                    <img src="assets/img/laoderfixed.png" alt="" />
                                    <p class="timer text-secondary text-center" id="timer">0:10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>