<!-- page title bar -->
<div class="container-fluid mb-4">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Forum Details</h5>
            <p class="text-secondary">Lets make it open environment to get helped</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>



<div class="container">

    <!-- search -->
    <div class="row align-items-center mb-4">
        <div class="col">
            <div class="card border-0">
                <div class="card-body p-1">
                    <div class="input-group">
                        <span class="input-group-text text-theme"><i class="bi bi-search"></i></span>
                        <input class="form-control" type="search" placeholder="Search your query here...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-theme me-2">Ask Query</button>
            <button class="btn btn-theme">Write Post</button>
        </div>
    </div>

    <!-- questions and answer-->
    <div class="row">
        <div class="col-12 col-md-8 col-lg-9 col-xl-9">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <h4>How to create admin dashboard for Finance Application?</h4>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn btn-link text-secondary dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical vm"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end ">
                                    <li><a class="dropdown-item">Hide from Timeline</a></li>
                                    <li><a class="dropdown-item">Report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-auto">
                            <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                <img src="assets/img/user-4.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p class="small text-secondary mb-0">Asked by</p>
                            <p class="mb-0">David Warner <small class="text-secondary">1 hr ago</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p class="small text-secondary mb-0">Modified</p>
                            <p class="mb-0">8 min ago</p>
                        </div>
                    </div>
                    <p class="text-secondary">You can easily find template for UI with best customize facility named "GetWinDOORS". WinDOORS just because every home with windows needs door. everWhen you get older many people will listen you carefully, no matter if its correct discussion or not.</p>
                    <p>
                        <span class="tag bg-light-theme theme-green me-1 mt-1">Support</span>
                        <span class="tag bg-light-theme theme-red me-1 mt-1">Development</span>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center mb-3">
                        <div class="col-auto">
                            <div class="btn btn-outline-theme theme-red btn-square rounded-circle">
                                <i class="bi bi-heart h5"></i>
                            </div>
                        </div>
                        <div class="col-auto ps-0">
                            <p class="text-secondary small mb-0">Liked by</p>
                            <p>1.2k</p>
                        </div>
                        <div class="col-auto">
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-2.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-3.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col ps-0">
                            <p class="text-secondary small mb-0">Answered by</p>
                            <p>9+</p>
                        </div>
                        <div class="col-auto text-center">
                            <p class="small text-secondary mb-0">Views</p>
                            <p class="mb-0">152</p>
                        </div>
                        <div class="col-auto text-center">
                            <p class="small text-secondary mb-0">Watching</p>
                            <p class="mb-0">256</p>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control border" placeholder="Your comment here...">
                        <button class="btn btn-light border" type="button">Comment</button>
                    </div>
                </div>
            </div>

            <!-- posted answer -->
            <h5 class="title">Answers</h5>
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <p><span class="tag theme-green">Correct Answer</span></p>
                    <p class="text-secondary">I found a solution to your problem. <br>
                        The installer works fine once I removed it out of my cluttered download folder<br>
                        I ran various tests and I'm pretty sure that i found the root to the problem.<br>
                        You can easily find template for UI with best customize facility named "GetWinDOORS". WinDOORS just because every home with windows needs door. everWhen you get older many people will listen you carefully, no matter if its correct discussion or not.
                    </p>

                    <div class="row align-items-center mt-3">
                        <div class="col-auto">
                            <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                <img src="assets/img/user-1.jpg" alt="" name="userimage">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p class="small text-secondary mb-0">Answer by</p>
                            <p class="mb-0">Jack Manelia <small class="text-secondary">30 min ago</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p class="small text-secondary mb-0">Modified</p>
                            <p class="mb-0">8 min ago</p>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn btn-link text-secondary dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical vm"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end ">
                                    <li><a class="dropdown-item">Mark as Correct</a></li>
                                    <li><a class="dropdown-item">Hide from Timeline</a></li>
                                    <li><a class="dropdown-item">Report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer border-top">
                    <div class="row align-items-center mb-3">
                        <div class="col-auto">
                            <div class="btn btn-outline-theme theme-red btn-square rounded-circle">
                                <i class="bi bi-heart h5"></i>
                            </div>
                        </div>
                        <div class="col-auto ps-0">
                            <p class="text-secondary small mb-0">Liked by</p>
                            <p>1.2k</p>
                        </div>
                        <div class="col-auto">
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-2.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-3.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control border" placeholder="Your comment here...">
                        <button class="btn btn-light border" type="button">Comment</button>
                    </div>

                    <!-- answer comments -->
                    <div class="row mt-3">
                        <a class="col-auto">
                            <figure class="avatar avatar-40 rounded-circle vm shadow-sm">
                                <img src="assets/img/user-4.jpg" alt="">
                            </figure>
                        </a>
                        <div class="col ps-0">
                            <p class="mb-1"><a>Jack Lee</a> <span class="text-secondary d-inline-block ms-2 small">2 min ago</span></p>
                            <p>This works for me</p>
                            <div class="mt-2">
                                <a class="btn btn-sm btn-link text-theme">
                                    <i class="bi bi-heart vm"></i> Like <small class="ms-2">3</small>
                                </a>

                                <a class="btn btn-sm btn-link text-warning ms-2">
                                    <i class="bi bi-chat-right-text vm small"></i> Reply <small class="ms-2">5</small>
                                </a>
                            </div>

                            <!-- nested post -->
                            <div class="row mt-3">
                                <a class="col-auto">
                                    <figure class="avatar avatar-40 rounded-circle vm shadow-sm">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </figure>
                                </a>
                                <div class="col ps-0">
                                    <p class="mb-1"><a>Kavyaa Johnson</a> <span class="text-secondary d-inline-block ms-2 small">2 min ago</span></p>
                                    <p>Yes I did it too.</p>
                                    <div class="mt-2">
                                        <a class="btn btn-sm btn-link text-theme">
                                            <i class="bi bi-heart vm"></i> Like <small class="ms-2">3</small>
                                        </a>

                                        <a class="btn btn-sm btn-link text-warning ms-2">
                                            <i class="bi bi-chat-right-text vm small"></i> Reply <small class="ms-2">5</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <p class="text-secondary">I found a solution to your problem. <br>
                        The installer works fine once I removed it out of my cluttered download folder<br>
                        I ran various tests and I'm pretty sure that i found the root to the problem.<br>
                        You can easily find template for UI with best customize facility named "GetWinDOORS". WinDOORS just because every home with windows needs door. everWhen you get older many people will listen you carefully, no matter if its correct discussion or not.
                    </p>

                    <div class="row align-items-center mt-3">
                        <div class="col-auto">
                            <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                <img src="assets/img/user-1.jpg" alt="" name="userimage">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p class="small text-secondary mb-0">Answer by</p>
                            <p class="mb-0">Jack Manelia <small class="text-secondary">30 min ago</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p class="small text-secondary mb-0">Modified</p>
                            <p class="mb-0">8 min ago</p>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn btn-link text-secondary dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical vm"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end ">
                                    <li><a class="dropdown-item">Mark as Correct</a></li>
                                    <li><a class="dropdown-item">Hide from Timeline</a></li>
                                    <li><a class="dropdown-item">Report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer border-top">
                    <div class="row align-items-center mb-3">
                        <div class="col-auto">
                            <div class="btn btn-outline-theme theme-red btn-square rounded-circle">
                                <i class="bi bi-heart h5"></i>
                            </div>
                        </div>
                        <div class="col-auto ps-0">
                            <p class="text-secondary small mb-0">Liked by</p>
                            <p>1.2k</p>
                        </div>
                        <div class="col-auto">
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-2.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-3.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control border" placeholder="Your comment here...">
                        <button class="btn btn-light border" type="button">Comment</button>
                    </div>
                </div>
            </div>

            <!-- advertisement -->
            <div class="card border-0 overflow-hidden mb-4">
                <div class="card-body position-relative">
                    <div class="coverimg w-75 h-100 end-0 top-0 position-absolute cover-right-center-img">
                        <img src=" assets/img/offer-1.png" class="w-100" alt="">
                    </div>
                    <div class="row align-items-center justify-content-center h-100">
                        <div class="col-10 py-3 py-xl-5">
                            <h3 class="text-theme mb-1">Refer &amp; Earn 20%</h3>
                            <h5 class="fw-medium">Make your wallet even bigger</h5>
                            <p class="text-secondary">Share your referral code to your friends and earn flat 20% amount.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col">
                            <a class="btn btn-link ">Learn more <i class="bi bi-arrow-right"></i></a>
                        </div>
                        <div class="col-auto avatar-group">
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Shelvey Doe">
                                <img src="assets/img/user-2.jpg" alt="">
                            </figure>
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Maria Smith">
                                <img src="assets/img/user-3.jpg" alt="">
                            </figure>
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Steve Branden">
                                <img src="assets/img/user-4.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-auto">
                            <p class="mb-0">20+ Contacts</p>
                            <p class="text-secondary small">Already Refereed</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- post answer -->
            <h5 class="title">Your Answer</h5>

            <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
            <div class="row gx-2 mt-4">
                <div class="col-auto">
                    <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-paperclip me-0 me-md-2"></i> <span class="d-none d-md-inline-block">Attachment</span></button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-secondary border" type="button"><i class="bi bi-link h5 me-0 me-md-2"></i> <span class="d-none d-md-inline-block">Insert Link</span></button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <button class="btn btn-theme" type="button"><i class="bi bi-send me-2"></i> Send</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-link text-danger" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-trash h4 me-2"></i> Discard</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-3">
            <div class="card border-0 bg-gradient-theme-light theme-purple mb-4">
                <div class="card-header border-bottom">
                    <h6>Featured Questions</h6>
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush bg-none">
                        <a routerLink="/pages/app/forumdetails/" class="list-group-item list-group-item-action">How to become most powerful development partner?</a>
                        <a routerLink="/pages/app/forumdetails/" class="list-group-item list-group-item-action">The best way to get started with the getWinDOORS</a>
                        <a routerLink="/pages/app/forumdetails/" class="list-group-item list-group-item-action">I have found egyptian assets, What I should do with it?</a>
                        <a routerLink="/pages/app/forumdetails/" class="list-group-item list-group-item-action">How long it will take to make world record for traveling?</a>
                        <a routerLink="/pages/app/forumdetails/" class="list-group-item list-group-item-action ">I am disabled person by my hands. What is my career options?</a>
                    </div>
                </div>
            </div>
            <!-- advertisement -->
            <p class="text-secondary text-center small">Advertisement</p>
            <div class="card border-0 overflow-hidden mb-4">
                <div class="row mx-0">
                    <div class="col-6 pe-0 bg-theme text-white half-circle-vertical text-center py-4 z-index-1">
                        <div class="position-relative">
                            <h4 class="mb-2">15% OFF</h4>
                            <p class="text-muted small mb-3">Price including with our launch offer get 5% Extra</p>
                            <button class="copy-text btn btn-sm btn-rounded btn-outline-dashed text-white border-white">GOREELLAUNCH</button>
                        </div>
                    </div>
                    <div class="col-6 position-relative">
                        <figure class="coverimg position-absolute w-100 h-100 start-0 top-0 m-0" style="background-image: url('assets/img/news-3.jpg');">
                            <img src="assets/img/news-3.jpg" class="mw-100 d-none" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
            <h6 class="title">Trending Tags</h6>
            <div>
                <a class="tag bg-light-theme me-1 my-1">Android</a>
                <a class="tag bg-light-theme me-1 my-1">iOS</a>
                <a class="tag bg-light-theme me-1 my-1">Windows11</a>
                <a class="tag bg-light-theme me-1 my-1">Fluent ui</a>
                <a class="tag bg-light-theme me-1 my-1">Win UI</a>
                <a class="tag bg-light-theme me-1 my-1">Template</a>
                <a class="tag bg-light-theme me-1 my-1">Dashboard</a>
                <a class="tag bg-light-theme me-1 my-1">Bootstrap</a>
                <a class="tag bg-light-theme me-1 my-1">Angular admin</a>
                <a class="tag bg-light-theme me-1 my-1">Free Dashboard</a>
            </div>
        </div>
    </div>
</div>