<div class="page-header">
    <h1 class="page-title my-auto">Jatun Ayllu</h1>
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"> <a href="javascript:void(0)"><i class="fe fe-home"></i></a></li> 
            <li class="breadcrumb-item"> <a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registrados</li>
        </ol> 
    </div>
</div>
<div class="card">
    <div class="card-header">
        LISTA AFILIADOS
    </div>
    <form [formGroup]="formfiltros" class="card-body row">
        <div class="col-md-12 col-sm-12 col-lg-3 mb-2">
            <div class="form-group">
            <small class="form-label"><b>Filtrar Estado</b></small>
            <ng-select class="text-uppercase"
                        formControlName="estados"
                        [items]="estados"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="SELECCIONAR ESTADO"
                        (change)="selectEstado($event)">
            </ng-select>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive invoice-table" id="table">
                <ng-template #idTpl let-rowIndex="rowIndex" let-row="row">
                    {{rowIndex+1}}
                </ng-template>
                <ng-template #is_estado let-data="adtData" let-emitter="captureEvents">
                    <p *ngIf="data.estado">
                    <span class="badge bg-warning p-1" *ngIf="data.estado.name=='PENDIENTE'">{{data.estado.name}}</span>
                    </p>
                    <p *ngIf="!data.estado">
                    <span class="badge bg-light text-dark p-1">Sin Estado</span>
                    </p>
                </ng-template>
                <ng-template #dtActions let-data="adtData" let-emitter="captureEvents">
                    <app-buttons-table-referidos [actions]="dataTableActions" [data]="data" (emitter)="emitter($event)"></app-buttons-table-referidos>
                </ng-template>
                <table id="material--template-dt" datatable *ngIf="columns.length" style="width: 100%;" [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"></table>
            </div>
        </div>
    </form>
</div>
<!-- Modal IMG -->
<ng-template #modal_img let-modal>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h5>Imagen Comprobante {{data_detalle.data_referido.nombre}} {{data_detalle.data_referido.apellido}}</h5>
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
           <img src="{{data_detalle.url_comprobante}}" alt="#" style="width: 100%;">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <hr>
            <button class="btn btn-danger" (click)="closeModalIMG()"> Cerrar</button>
        </div>
    </div>
</ng-template>
<!-- SPINNER -->
<ngx-spinner type="timer"></ngx-spinner>