<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">News & Articles</h5>
            <p class="text-secondary">News articles overview for quick reading.</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container">

    <!-- news -->
    <h5 class="title">Small News</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="coverimg avatar avatar-110 rounded position-relative" style="background-image: url('assets/img/bg-20.jpg');">
                                <img src="assets/img/bg-20.jpg" class="mw-100 d-none" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container.<a href="blog-details.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="coverimg avatar avatar-110 rounded position-relative" style="background-image: url('assets/img/bg-13.jpg');">
                                <img src="assets/img/bg-13.jpg" class="mw-100 d-none" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container.<a href="blog-details.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="coverimg avatar avatar-110 rounded position-relative" style="background-image: url('assets/img/bg-8.jpg');">
                                <img src="assets/img/bg-8.jpg" class="mw-100 d-none" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container.<a href="blog-details.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0 bg-gradient-theme-light theme-yellow">
                <div class="card-body bg-none">
                    <div class="row">
                        <div class="col-auto">
                            <div class="coverimg avatar avatar-110 rounded position-relative" style="background-image: url('assets/img/bg-19.jpg');">
                                <img src="assets/img/bg-19.jpg" class="mw-100 d-none" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container.<a href="blog-details.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0 bg-gradient-theme-light">
                <div class="card-body bg-none">
                    <div class="row">
                        <div class="col-auto">
                            <div class="coverimg avatar avatar-110 rounded position-relative" style="background-image: url('assets/img/bg-14.jpg');">
                                <img src="assets/img/bg-14.jpg" class="mw-100 d-none" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container.<a href="blog-details.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0 bg-gradient-theme-light theme-green">
                <div class="card-body bg-none">
                    <div class="row">
                        <div class="col-auto">
                            <div class="coverimg avatar avatar-110 rounded position-relative" style="background-image: url('assets/img/bg-7.jpg');">
                                <img src="assets/img/bg-7.jpg" class="mw-100 d-none" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container.<a href="blog-details.html">Read more...</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- medium news -->
    <h5 class="title">Medium News</h5>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0">
                <div class="coverimg w-100 h-180 position-relative" style="background-image: url('assets/img/bg-20.jpg');">
                    <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                            </div>
                            <div class="col-auto">
                                <div class="dropup d-inline-block">
                                    <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                        <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/bg-20.jpg" class="mw-100 d-none" alt="">
                </div>
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="coverimg w-100 h-160 rounded mb-3 position-relative" style="background-image: url('assets/img/bg-11.jpg');">
                        <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                                </div>
                                <div class="col-auto">
                                    <div class="dropup d-inline-block">
                                        <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/bg-11.jpg" class="mw-100 d-none" alt="">
                    </div>
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0 bg-gradient-theme-light theme-yellow">
                <div class="card-body bg-none">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <div class="coverimg w-100 h-160 rounded mb-3 position-relative" style="background-image: url('assets/img/bg-12.jpg');">
                        <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                                </div>
                                <div class="col-auto">
                                    <div class="dropup d-inline-block">
                                        <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/bg-12.jpg" class="mw-100 d-none" alt="">
                    </div>
                    <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- large news -->
    <h5 class="title">Large News</h5>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="coverimg w-100 h-180 position-relative z-index-5" style="background-image: url('assets/img/bg-6.jpg');">
                    <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-outline-theme btn-rounded">Share this</button>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown d-inline-block">
                                    <a class="btn btn-square btn-sm rounded-circle btn-outline-theme dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                        <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/bg-6.jpg" class="mw-100 d-none" alt="">
                </div>
                <div class="card-body">
                    <p>
                        <span class="tag tag-sm bg-light-theme me-1 mb-1">Adventure</span>
                        <span class="tag tag-sm bg-light-theme theme-red me-1 mb-1">Travel</span>
                    </p>
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <p class="small text-secondary mb-0">Published on</p>
                            <p class="">26-02-2022</p>
                        </div>
                        <div class="col">
                            <p class="small text-secondary mb-0">Published In</p>
                            <p class="">Navjeevan Times</p>
                        </div>
                    </div>
                    <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto align-self-center">
                            <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                <img src="assets/img/user-4.jpg" alt="" />
                            </figure>
                        </div>
                        <div class="col px-0 align-self-center">
                            <p class="small text-secondary mb-0">Published by</p>
                            <p class="">Maxartkiller</p>
                        </div>
                        <div class="col-auto ps-0 align-self-center">
                            <a class="btn btn-sm btn-outline-theme ">
                                Follow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0">
                <div class="coverimg w-100 h-300 position-relative" style="background-image: url('assets/img/bg-13.jpg');">
                    <div class="overlay"></div>
                    <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1 text-white">
                        <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                        <div class="row align-items-center mb-4">
                            <div class="col-auto">
                                <p class="small text-muted mb-0">Published on</p>
                                <p class="">26-02-2022</p>
                            </div>
                            <div class="col-auto">
                                <p class="small text-muted mb-0">Published In</p>
                                <p class="">Navjeevan Times</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                            </div>
                            <div class="col-auto">
                                <div class="dropup d-inline-block">
                                    <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                        <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/bg-13.jpg" class="mw-100 d-none" alt="">
                </div>
                <div class="card-body">
                    <p>
                        <span class="tag tag-sm bg-light-theme me-1 mb-1">Adventure</span>
                        <span class="tag tag-sm bg-light-theme theme-red me-1 mb-1">Travel</span>
                    </p>
                    <h5 class="fw-medium mb-2">Make it clutter free and create better world</h5>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto align-self-center">
                            <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                <img src="assets/img/user-4.jpg" alt="" />
                            </figure>
                        </div>
                        <div class="col px-0 align-self-center">
                            <p class="small text-secondary mb-0">Published by</p>
                            <p class="">Maxartkiller</p>
                        </div>
                        <div class="col-auto ps-0 align-self-center">
                            <a class="btn btn-sm btn-outline-theme ">
                                Follow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4 mb-4">
            <div class="card border-0 bg-gradient-theme-light theme-green">
                <div class="card-body">
                    <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                    <div class="coverimg w-100 h-250 rounded mb-3 position-relative" style="background-image: url('assets/img/bg-12.jpg');">
                        <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                                </div>
                                <div class="col-auto">
                                    <div class="dropup d-inline-block">
                                        <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/bg-12.jpg" class="mw-100" alt="">
                    </div>
                    <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                    <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto align-self-center">
                            <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                <img src="assets/img/user-4.jpg" alt="" />
                            </figure>
                        </div>
                        <div class="col px-0 align-self-center">
                            <p class="small text-secondary mb-0">Published by</p>
                            <p class="">Maxartkiller</p>
                        </div>
                        <div class="col-auto ps-0 align-self-center">
                            <a class="btn btn-sm btn-outline-theme ">
                                Follow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- options with news -->
    <h5 class="title">Options with News</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-6 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="row ">
                    <div class="col-12 col-md-6 mb-2 mb-md-0 pe-0 position-relative">
                        <div class="overlay"></div>
                        <div class="coverimg w-100 h-100 mnh-250 position-relative" style="background-image: url('assets/img/business-4.jpg');">
                            <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                                        <button class="btn btn-sm btn-square btn-outline-light btn-rounded mx-2"><i class="bi bi-heart"></i></button>
                                    </div>
                                    <div class="col-auto">
                                        <div class="dropup d-inline-block">
                                            <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/business-4.jpg" class="mw-100" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ps-md-0">
                        <div class="card-body">
                            <p>
                                <span class="tag tag-sm bg-light-theme me-1 mb-1">Adventure</span>
                                <span class="tag tag-sm bg-light-theme theme-red me-1 mb-1">Travel</span>
                            </p>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <p class="small text-secondary mb-0">Published on</p>
                                    <p class="">26-02-2022</p>
                                </div>
                                <div class="col">
                                    <p class="small text-secondary mb-0">Published In</p>
                                    <p class="">Navjeevan Times</p>
                                </div>
                            </div>
                            <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                        <img src="assets/img/user-4.jpg" alt="" />
                                    </figure>
                                </div>
                                <div class="col px-0 align-self-center">
                                    <p class="small text-secondary mb-0">Published by</p>
                                    <p class="">Maxartkiller</p>
                                </div>
                                <div class="col-auto ps-0 align-self-center">
                                    <a class="btn btn-sm btn-outline-theme ">
                                        Follow
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-6 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="row ">
                    <div class="col-12 col-md-6 mb-2 mb-md-0 pe-0 position-relative">
                        <div class="overlay"></div>
                        <div class="coverimg w-100 h-100 mnh-250 position-relative" style="background-image: url('assets/img/bg-9.jpg');">
                            <div class="position-absolute bottom-0 start-0 w-100 mb-3 px-3 z-index-1">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-sm btn-outline-light btn-rounded">Share this</button>
                                        <button class="btn btn-sm btn-square btn-outline-light btn-rounded mx-2"><i class="bi bi-heart"></i></button>
                                    </div>
                                    <div class="col-auto">
                                        <div class="dropup d-inline-block">
                                            <a class="btn btn-square btn-sm rounded-circle btn-outline-light dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-up me-1 text-green"></i> Recommendation this</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-hand-thumbs-down me-1 text-danger"></i> Don't recommend</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-star text-yellow"></i> Add to favorite</a></li>
                                                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Report this</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/bg-9.jpg" class="mw-100 d-none" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ps-md-0">
                        <div class="card-body">
                            <p>
                                <span class="tag tag-sm bg-light-teal text-teal me-1 mb-1">Forest</span>
                                <span class="tag tag-sm bg-light-cyan theme-cyan text-cyan me-1 mb-1">Vision</span>
                            </p>
                            <h5 class="mb-3">We all are artist in our field. We all are able to find symmetry in our routine</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-auto">
                                    <p class="small text-secondary mb-0">Published on</p>
                                    <p class="">26-02-2022</p>
                                </div>
                                <div class="col">
                                    <p class="small text-secondary mb-0">Published In</p>
                                    <p class="">Navjeevan Times</p>
                                </div>
                            </div>
                            <h6 class="fw-medium mb-2">Make it clutter free and create better world</h6>
                            <p class="text-secondary">We have added useful and wider-range of widgets fully flexible with wrapper container. If you still reading this, you are in love with this design. <a href="blog-details.html">Read more...</a> </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                        <img src="assets/img/user-4.jpg" alt="" />
                                    </figure>
                                </div>
                                <div class="col px-0 align-self-center">
                                    <p class="small text-secondary mb-0">Published by</p>
                                    <p class="">Maxartkiller</p>
                                </div>
                                <div class="col-auto ps-0 align-self-center">
                                    <a class="btn btn-sm btn-outline-theme ">
                                        Follow
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>