<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Social Dashboard</h5>
            <p class="text-secondary">Digital Marketing Analytics Dashboard</p>
        </div>
        <div class="col col-sm-auto">
            <app-titlecalendar></app-titlecalendar>
        </div>
        <div class="col-auto ps-0 position-relative">
            <!-- titlebar -->
            <app-titlebar></app-titlebar>
            <!-- titlebar ends -->
        </div>
    </div>
</div>

<!-- content -->
<div class="container mt-4">
    <!-- statistics summary -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-2">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-instagram h5 avatar avatar-40 bg-light-pink text-pink rounded"></i>
                        </div>
                        <div class="col ps-0">
                            <div class="row gx-0">
                                <div class="col">
                                    <p class="small text-secondary">Instagram</p>
                                </div>
                                <div class="col-auto">
                                    <p class="small text-green">+5%</p>
                                </div>
                            </div>
                            <p>1.5<small>m <span class="text-secondary">Follower</span></small></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-chartbarpinkbig></app-chartbarpinkbig>
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Post Likes</p>
                            <p>55.15 k</p>
                        </div>
                        <div class="col text-end py-2">
                            <p class="text-secondary small mb-0">Shares</p>
                            <p>11.2 k</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Reach</p>
                            <p>1.5 m</p>
                        </div>
                        <div class="col text-end py-2">
                            <p class="text-secondary small mb-0">Clicks</p>
                            <p>60.01 k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-2">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-facebook h5 avatar avatar-40 bg-light-blue text-blue rounded"></i>
                        </div>
                        <div class="col ps-0">
                            <div class="row gx-0">
                                <div class="col">
                                    <p class="small text-secondary">Facebook</p>
                                </div>
                                <div class="col-auto">
                                    <p class="small text-green">+1%</p>
                                </div>
                            </div>
                            <p>1.5<small>m <span class="text-secondary">Follower</span></small></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-chartbarblue></app-chartbarblue>
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Post Likes</p>
                            <p>65.35 k</p>
                        </div>
                        <div class="col text-end py-2">
                            <p class="text-secondary small mb-0">Shares</p>
                            <p>12.5 k</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Reach</p>
                            <p>1.75 m</p>
                        </div>
                        <div class="col text-end py-2">
                            <p class="text-secondary small mb-0">Clicks</p>
                            <p>85.01 k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-dribbble h5 avatar avatar-40 bg-light-pink text-pink rounded"></i>
                        </div>
                        <div class="col-auto ps-0">
                            <div class="row gx-0">
                                <div class="col">
                                    <p class="small text-secondary">Dribbble</p>
                                </div>
                                <div class="col-auto">
                                    <p class="small text-green">+1%</p>
                                </div>
                            </div>
                            <p>1.5<small>m <span class="text-secondary">Follower</span></small></p>
                        </div>
                        <div class="col-4 ms-auto">
                            <div class="smallchart40">
                                <app-chartbarpink></app-chartbarpink>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Post Likes</p>
                            <p>65.35 k</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Shares</p>
                            <p>12.5 k</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Reach</p>
                            <p>1.75 m</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Clicks</p>
                            <p>85.01 k</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-youtube h5 avatar avatar-40 bg-light-red text-red rounded"></i>
                        </div>
                        <div class="col-auto ps-0">
                            <div class="row gx-0">
                                <div class="col">
                                    <p class="small text-secondary">Youtube</p>
                                </div>
                                <div class="col-auto">
                                    <p class="small text-green">+2%</p>
                                </div>
                            </div>
                            <p>1.75<small>m <span class="text-secondary">Follower</span></small></p>
                        </div>
                        <div class="col-4 ms-auto">
                            <app-chartbarred></app-chartbarred>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Post Likes</p>
                            <p>65.35 k</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Shares</p>
                            <p>12.5 k</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Reach</p>
                            <p>1.75 m</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Clicks</p>
                            <p>85.01 k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-12 col-xl-12 col-xxl-4 mb-4 column-set">
            <!-- Social card -->
            <div class="card border-0 bg-radial-gradiant text-white h-100">
                <div class="card-header bg-none">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-people h5 avatar avatar-40 bg-light-white rounded me-2"></i>
                        </div>
                        <div class="col">
                            <h6 class="mb-0">Popular Post</h6>
                            <p class="text-muted">21 October 2021</p>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-none">
                    <div class="row align-items-center">
                        <div class="col-4 col-md-3 col-lg-3 col-xl-3 col-xxl-4">
                            <figure class="coverimg rounded w-100 h-110 mb-0" style="background-image: url('assets/img/news-4.jpg');">
                                <img src="assets/img/news-4.jpg" alt="" class="mw-100 d-none">
                            </figure>
                        </div>
                        <div class="col">
                            <h5 class="fw-light">Learn about software and Framework. All Design and Usability practices</h5>
                            <p class="text-muted small">We have represented best product and template with great user experience</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-center bg-none">
                    <div class=" row align-items-center">
                        <div class="col-auto">
                            <p class="text-muted mb-1">Engaged Audience</p>
                            <h6>2,545,05</h6>
                        </div>
                        <div class="col-auto ms-auto">
                            <a href="blogs.html" class="btn btn-sm btn-theme">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Big chart traffic flow-->
    <div class="row">
        <!-- add column-set class to parent when customize column width dropdown added -->
        <div class="col-12 mb-4 column-set">
            <div class="card border-0 ">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-people h5 avatar avatar-40 bg-light-theme rounded"></i>
                        </div>
                        <div class="col-auto">
                            <h6 class="fw-medium mb-0">Server</h6>
                            <p class="small text-secondary">Uptime 100%</p>
                        </div>
                        <div class="col-4 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="rounded border">
                                <select class="chosenoptgroup one w-100">
                                    <optgroup label="Social">
                                        <option>- Facebook</option>
                                        <option>- Instagram</option>
                                        <option>- Twitter</option>
                                    </optgroup>
                                    <optgroup label="Feed">
                                        <option>- Dribbble</option>
                                        <option>- Youtube</option>
                                        <option>- Behance</option>
                                        <option>- Blogs</option>
                                    </optgroup>
                                    <option>Referral</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="dropdown d-inline-block">
                                <a class="btn btn-link btn-square text-secondary dd-arrow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                            <!-- resize column size dropwdown -->
                            <app-columnresizer class="dropdown d-inline-block"></app-columnresizer>
                            <!-- resize column size dropwdown -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="trafic1" role="tabpanel" aria-labelledby="trafic1-tab">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-8 col-xl-10 mb-3">
                                    <app-chartareasocial></app-chartareasocial>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4 col-xl-2">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-12 mb-3">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="avatar avatar-20 rounded bg-red"></i>
                                                </div>
                                                <div class="col">
                                                    <p>2021 total Traffic</p>
                                                    <div class="row small">
                                                        <div class="col text-secondary">Share</div>
                                                        <div class="col-auto text-green">10.15%</div>
                                                    </div>
                                                    <div class="row small">
                                                        <div class="col text-secondary">Likes</div>
                                                        <div class="col-auto text-red">5.63%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-12">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="avatar avatar-20 rounded bg-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <p>2022 total Traffic</p>
                                                    <div class="row small">
                                                        <div class="col text-secondary">Share</div>
                                                        <div class="col-auto text-green">10.15%</div>
                                                    </div>
                                                    <div class="row small">
                                                        <div class="col text-secondary">Likes</div>
                                                        <div class="col-auto text-red">5.63%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="trafic2" role="tabpanel" aria-labelledby="trafic2-tab">...</div>
                        <div class="tab-pane fade" id="trafic3" role="tabpanel" aria-labelledby="trafic3-tab">...</div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <ul class="nav nav-pills footer-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active text-start" id="trafic1-tab" data-bs-toggle="tab" data-bs-target="#trafic1" type="button" role="tab" aria-controls="trafic1" aria-selected="true">
                                <small class="text-secondary d-block mb-1">Engaged Audience</small>
                                <span class="text-dark">2,545,05 <small class="text-green">(0.73%)</small></span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-start" id="trafic2-tab" data-bs-toggle="tab" data-bs-target="#trafic2" type="button" role="tab" aria-controls="trafic2" aria-selected="false">
                                <small class="text-secondary d-block mb-1">Clicks</small>
                                <span class="text-dark">1,545,05 <small class="text-green">(10.61%)</small></span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-start" id="trafic3-tab" data-bs-toggle="tab" data-bs-target="#trafic3" type="button" role="tab" aria-controls="trafic3" aria-selected="false">
                                <small class="text-secondary d-block mb-1">Shares</small>
                                <span class="text-dark">1,845,05 <small class="text-green">(1.73%)</small></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Tweet stats card -->
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-4">
            <div class="card border-0 bg-radial-gradiant text-white mb-4">
                <div class="card-header bg-none">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-binoculars h5 avatar avatar-40 bg-light-white rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="mb-0">Top Attraction</h6>
                            <p class="text-muted">This year</p>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-none">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-twitter h1 avatar avatar-80 bg-cyan rounded mb-0">
                            </i>
                        </div>
                        <div class="col">
                            <p class="text-muted small">Engaged Audience</p>
                            <h5 class="fw-medium">2,545,05</h5>
                            <p class="small">(1.83%)</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 ">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-newspaper h5 avatar avatar-40 bg-light-theme rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="mb-0">Boosted Post</h6>
                            <p class="text-secondary small">Best reached</p>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row align-items-center mb-2">
                        <div class="col-4 col-md-3 col-lg-4 col-xl-4 col-xxl-5">
                            <figure class="coverimg rounded w-100 h-80 mb-0" style="background-image: url('assets/img/business-2.jpg');">
                                <img src="assets/img/business-2.jpg" alt="" class="mw-100 d-none">
                            </figure>
                        </div>
                        <div class="col">
                            <p class="text-secondary small">Boosted Post</p>
                            <h5 class="fw-medium mb-0">2,545,05</h5>
                            <p class="text-secondary small">People Reached</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Likes</p>
                            <p>65.35 k</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Retweet</p>
                            <p>12.5 k</p>
                        </div>
                        <div class="col py-2">
                            <p class="text-secondary small mb-0">Clicks</p>
                            <p>85.01 k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--charts category summary-->
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3">
            <div class="card border-0 mb-4">
                <div class="card-header ">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-linkedin h5 avatar avatar-40 bg-light-blue text-blue rounded"></i>
                        </div>
                        <div class="col">
                            <div class="row mb-1">
                                <div class="col">
                                    <p class="text-secondary small">Linkedin</p>
                                </div>
                                <div class="col-auto">
                                    <p class="text-red small">-1.58%</p>
                                </div>
                            </div>
                            <h6 class="fw-medium">1.8m <small>Connections</small></h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center gx-3">
                        <div class="col-5">
                            <div class="mb-2">
                                <app-chartareablue></app-chartareablue>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row gx-2">
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Likes</p>
                                    <p>65.35 k</p>
                                </div>
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Shares</p>
                                    <p>12.5 k</p>
                                </div>
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Reach</p>
                                    <p>1.75 m</p>
                                </div>
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Clicks</p>
                                    <p>85.01 k</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 mb-4">
                <div class="card-header ">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-twitter h5 avatar avatar-40 bg-light-cyan text-cyan rounded"></i>
                        </div>
                        <div class="col">
                            <div class="row mb-1">
                                <div class="col">
                                    <p class="text-secondary small">Linkedin</p>
                                </div>
                                <div class="col-auto">
                                    <p class="text-green small">2.15%</p>
                                </div>
                            </div>
                            <h6 class="fw-medium">1.8m <small>Connections</small></h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center gx-3">
                        <div class="col-5">
                            <div class="mb-2">
                                <app-chartareagreen></app-chartareagreen>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row gx-2">
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Likes</p>
                                    <p>65.35 k</p>
                                </div>
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Shares</p>
                                    <p>12.5 k</p>
                                </div>
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Reach</p>
                                    <p>1.75 m</p>
                                </div>
                                <div class="col-6 py-2">
                                    <p class="text-secondary small mb-0">Clicks</p>
                                    <p>85.01 k</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- offers and events -->
        <div class="col-12 col-md-12 col-lg-6 col-xxl-3 mb-4">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <h6 class="fw-medium mb-0">Social Media Management</h6>
                    <p class="text-secondary small">Go with trend, Protect your future</p>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <i class="bi bi-calendar-event h5 text-green"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">25-01-2021</h6>
                            <p class="text-secondary small">1409 Main St, La Crosse, KS 67548,US</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto avatar-group">
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-2.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-3.jpg" alt="">
                            </div>
                            <div class="avatar avatar-44 coverimg rounded-circle me-1">
                                <img src="assets/img/user-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col ps-0">
                            <p class="text-secondary small mb-1">Joined</p>
                            <p>1525 k</p>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-theme btn-md" href="payment.html">Joined</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 overflow-hidden">
                <div class="row mx-0">
                    <div class="col-6 pe-0 bg-theme text-white half-circle-vertical text-center py-4 z-index-1">
                        <div class="position-relative">
                            <h4 class="mb-3">15% OFF</h4>
                            <p class="text-muted small mb-4">Price including with our launch offer get 5% Extra</p>
                            <button class="copy-text btn btn-sm btn-rounded btn-outline-dashed text-white border-white">GOREELDRIVE</button>
                        </div>
                    </div>
                    <div class="col-6 position-relative">
                        <figure class="coverimg position-absolute w-100 h-100 start-0 top-0 m-0" style="background-image: url('assets/img/news-3.jpg');">
                            <img src="assets/img/news-3.jpg" class="mw-100 d-none" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!--mangers updates-->
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 mb-4 ">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-people h5 avatar avatar-40 bg-light-blue text-blue rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Manager</h6>
                            <p class="text-secondary small">3 Admins</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class=" mb-3">
                        <app-chartbarblue></app-chartbarblue>
                    </div>
                    <p class="text-secondary small mb-0">Campaign Created</p>
                    <h6 class="fw-medium">5281 <small class="fw-light">This year</small></h6>

                    <ul class="list-group no-border bg-none">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                        <img src="assets/img/user-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col px-0 align-self-center">
                                    <p class="mb-0">David Warner</p>
                                    <p class="small text-secondary">$ 410.00</p>
                                </div>
                                <div class="col-auto ps-0 align-self-center">
                                    <i class="bi bi-chevron-right text-muted small vm"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                        <img src="assets/img/user-3.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col px-0 align-self-center">
                                    <p class="mb-0">Shelvey Doe</p>
                                    <p class="small text-secondary">$ 180.00</p>
                                </div>
                                <div class="col-auto ps-0 align-self-center">
                                    <i class="bi bi-chevron-right text-muted small vm"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col px-0 align-self-center">
                                    <p class="mb-0">Julia D'Souza</p>
                                    <p class="small text-secondary">$ 163.00</p>
                                </div>
                                <div class="col-auto ps-0 align-self-center">
                                    <i class="bi bi-chevron-right text-muted small vm"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4 py-2">
        <div class="col text-center">
            <h4>Special <span class="text-gradient">Widgets</span> flexible & elastic</h4>
            <p class="text-secondary">Pick the best which is useful to your customer</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-8 mb-4 column-set">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-people h5 avatar avatar-40 bg-light-theme rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Traffic Source</h6>
                            <p class="text-secondary small">Visitors/Users around the <b>Earth</b></p>
                        </div>
                        <div class="col-auto">
                            <!-- resize column size dropwdown -->
                            <app-columnresizer class="dropdown d-inline-block"></app-columnresizer>
                            <!-- resize column size dropwdown -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-jqv-map class="h-300 d-block"></app-jqv-map>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 col-md-3 col-lg-2 mb-3 mb-md-0">
                            <p class="text-secondary small">Users</p>
                            <h5>5.1k <small class="text-green fw-light fs-12"><i class=" bi bi-arrow-up vm"></i> 12%</small></h5>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mb-3 mb-md-0">
                            <p class="text-secondary small">Sessions</p>
                            <h5>6.8k <small class="text-green fw-light fs-12"><i class=" bi bi-arrow-up vm"></i> 2.1%</small></h5>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <p class="text-secondary small">Bounce Rate</p>
                            <h5>3.18% <small class="text-red fw-light fs-12"><i class=" bi bi-arrow-up vm"></i> -4.2%</small></h5>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <p class="text-secondary small">Session Duration</p>
                            <h5>1m 16s <small class="text-green fw-light fs-12"><i class=" bi bi-arrow-up vm"></i> 3.7%</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-5 col-xl-4 col-xxl-4 position-relative column-set">
            <!-- Chart traffic -->
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-gender-ambiguous h5 avatar avatar-40 bg-light-green text-green rounded"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Traffic by Genders</h6>
                            <p class="text-secondary small">114586 users visited</p>
                        </div>
                        <div class="col-auto ms-auto">
                            <!-- resize column size dropwdown -->
                            <app-columnresizer class="dropdown d-inline-block"></app-columnresizer>
                            <!-- resize column size dropwdown -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row h-100">
                        <div class="col-12 ">
                            <div class="doughnutchart my-4">
                                <app-chartdoughtnutsocial></app-chartdoughtnutsocial>
                                <div class="countvalue shadow">
                                    <div class="w-100">
                                        <h5 class="mb-1">29.98K</h5>
                                        <p class="text-success small">18.71 (0.73%)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 bg-light-white mt-auto px-5 py-4 position-relative">
                            <div class="row">
                                <div class="col-6 text-end">
                                    <div class="row">
                                        <div class="col ps-0">
                                            <h6 class="text-dark mb-0">14000</h6>
                                            <p class="text-secondary small">Male Visitors</p>
                                        </div>
                                        <div class="col-auto">
                                            <span class="avatar avatar-40 bg-blue rounded text-white">
                                                <i class="bi bi-gender-male h5"></i>
                                            </span>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row gx-2">
                                                <div class="col">
                                                    <p class="text-secondary small">Home</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="text-green small">55%</p>
                                                </div>
                                            </div>
                                            <div class="row gx-2">
                                                <div class="col">
                                                    <p class="text-secondary small">Work</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="text-green small">45%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="avatar avatar-40 bg-red rounded text-white">
                                                <i class="bi bi-gender-female h5"></i>
                                            </span>
                                        </div>
                                        <div class="col ps-0">
                                            <h6 class="text-dark mb-0">13568</h6>
                                            <p class="text-secondary small">Female Visitors</p>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row gx-2">
                                                <div class="col-auto">
                                                    <p class="text-green small">73%</p>
                                                </div>
                                                <div class="col">
                                                    <p class="text-secondary small">Home</p>
                                                </div>
                                            </div>
                                            <div class="row gx-2">
                                                <div class="col-auto">
                                                    <p class="text-green small">27%</p>
                                                </div>
                                                <div class="col">
                                                    <p class="text-secondary small">Work</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Subscribe upgrade plan -->
        <div class="col-12 col-md-6 col-lg-6 col-xxl-4 mb-4 column-set">
            <div class="card border-0 theme-blue overflow-hidden h-100">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-award h5 avatar avatar-40 bg-green text-white rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Subscribe PRO account</h6>
                            <p class="text-secondary small">60 USD per year</p>
                        </div>
                        <div class="col-auto">
                            <!-- resize column size dropwdown -->
                            <app-columnresizer class="dropdown d-inline-block"></app-columnresizer>
                            <!-- resize column size dropwdown -->
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush bg-none">
                        <li class="list-group-item text-secondary">
                            <div class="row">
                                <div class="col-auto">
                                    <i class="bi bi-check-circle text-muted"></i>
                                </div>
                                <div class="col-auto ps-0">
                                    Unlimited Send Money
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-secondary">
                            <div class="row">
                                <div class="col-auto">
                                    <i class="bi bi-check-circle text-muted"></i>
                                </div>
                                <div class="col-auto ps-0">
                                    Multiple Currencies Support
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-secondary">
                            <div class="row">
                                <div class="col-auto">
                                    <i class="bi bi-check-circle text-muted"></i>
                                </div>
                                <div class="col-auto ps-0">
                                    Unlimited Send Money
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check form-check-circle">
                                <input class="form-check-input" type="radio" name="priceupgrade" value="" id="priceupgrade1" checked>
                                <label class="form-check-label" for="priceupgrade1">
                                    <span class="h4">251.00 <small>USD</small></span><br />
                                    <span class="text-secondary small">5 Years <span class="text-green">13% Off</span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check form-check-circle">
                                <input class="form-check-input" type="radio" name="priceupgrade" value="" id="priceupgrade2">
                                <label class="form-check-label" for="priceupgrade2">
                                    <span class="h4">108.00 <small>USD</small></span><br />
                                    <span class="text-secondary small">2 Years <span class="text-green">10% Off</span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <div class="input-group border">
                                <span class="input-group-text text-theme"><i class="bi bi-tag h5"></i></span>
                                <input type="text" class="form-control" placeholder="Coupon Code" value="13DISCNEW21">
                                <span class="input-group-text text-green"><i class="bi bi-patch-check h5"></i></span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-theme btn-md" href="payment.html">Pay Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Income green chart card -->
        <div class="col-12 col-md-6 col-lg-6 col-xxl-4 mb-4 column-set">
            <div class="card border-0 theme-green h-100">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-gender-male h5 avatar avatar-40 bg-light-blue text-blue rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Male Traffics</h6>
                            <p class="text-secondary small">Last 6 Months</p>
                        </div>
                        <div class="col-auto">
                            <!-- resize column size dropwdown -->
                            <app-columnresizer class="dropdown d-inline-block"></app-columnresizer>
                            <!-- resize column size dropwdown -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5>2,545 <small class="text-green"><i class="bi bi-arrow-up"></i> 108(0.73%)</small></h5>
                    <p class="mb-3"><span class="text-secondary ">Age range:</span> 26-55</p>

                    <app-chartareaincome class="d-block"></app-chartareaincome>
                </div>
            </div>
        </div>
        <!-- Expense red chart card -->
        <div class="col-12 col-md-6 col-lg-6 col-xxl-4 mb-4 column-set">
            <div class="card border-0 theme-red h-100">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-gender-female h5 avatar avatar-40 bg-light-red text-red rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Female Traffic</h6>
                            <p class="text-secondary small">Last 6 Months</p>
                        </div>
                        <div class="col-auto">
                            <!-- resize column size dropwdown -->
                            <app-columnresizer class="dropdown d-inline-block"></app-columnresizer>
                            <!-- resize column size dropwdown -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5>4,101 <small class="text-green"><i class="bi bi-arrow-up"></i> 108 (1.83%)</small></h5>
                    <p class="mb-3"><span class="text-secondary">Age range:</span> 26-55</p>
                    <app-chartareaexpense></app-chartareaexpense>
                </div>
            </div>
        </div>
    </div>
</div>