<!-- page title bar -->
<div class="container-fluid mb-4">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Career</h5>
            <p class="text-secondary">Find best career and Job offers</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4 py-2">
        <div class="col text-center">
            <h4>Your first step is for <span class="text-gradient">Learning</span> & Next all are for <span class="text-gradient">Bright Future</span></h4>
            <p class="text-secondary">You can be happy and make others also. Do good work and be good with good human beings.</p>
        </div>
    </div>
    <div class="h-400 mb-4 position-relative text-center bg-theme rounded overflow-hidden">
        <figure class="coverimg h-100 w-100 z-index-0 position-absolute top-0 start-0 m-0 opacity-5" style="background-image: url('assets/img/bg-21.jpg');">
            <img src="assets/img/bg-21.jpg" alt="" class="d-none" />
        </figure>
        <div class="row h-100 z-index-1 align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <h2>Team build with Trust &amp; Transparency</h2>
                <p class="text-opac mb-4">We always prefer to have clear communication less headache and only creative thoughts in mind. That is why we prefer to have good working culture across the organization.</p>
                <button class="btn btn-theme">Contact us for more</button>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-auto">
            <h2>100+</h2>
            <p class="text-secondary mb-4">Creative & Unique Pages</p>

            <h2>200+</h2>
            <p class="text-secondary mb-4">Flexible & Elastic widgets</p>
        </div>
        <div class="col-12 col-md offset-md-1 py-4 py-lg-5">
            <h2 class="mb-3">We are doing for great future<br>of web applications design.</h2>
            <h5 class="mb-4">Change the way you see web applications.<br>Make it more Human friendly.</h5>
            <p class="text-secondary">WinDOORS is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.
                It comes with unlimited possibilities and 10+ predefined styles which you can also mix up and create new style. Do support and spread a word for us. </p>
        </div>
    </div>
</div>

<div class="container-fluid bg-light-theme py-5">
    <div class="text-center mb-4 mb-md-5">
        <p class="text-secondary">Get your best job on right time</p>
        <h2 class="text-dark">Start your career with us</h2>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-11 col-xxl-10">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                    <div class="card border-0 overflow-hidden">
                        <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-1.jpg');">
                            <img src="assets/img/business-1.jpg" class="mw-100 d-none" alt="" />
                        </div>
                        <div class="card-body">
                            <h5>Administrator</h5>
                            <p class="mb-3 mb-lg-4">3-5 year experience</p>
                            <p class="text-secondary">Administrator works with ground staffs and manage food, cleaning and office area decor. If you are good, having 3-5 years experience, do join us.</p>
                            <br>
                            <button class="btn btn-sm btn-theme">Apply Now <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                    <div class="card border-0 overflow-hidden">
                        <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-2.jpg');">
                            <img src="assets/img/business-2.jpg" class="mw-100 d-none" alt="" />
                        </div>
                        <div class="card-body">
                            <h5>Sr. Manager</h5>
                            <p class="mb-3 mb-lg-4">6+ year experience</p>
                            <p class="text-secondary">Our rocking team needs a good senior manager who can work wih 10 people team for offshore client. We need good experience in healthcare domain.</p>
                            <br>
                            <button class="btn btn-sm btn-theme">Apply Now <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                    <div class="card border-0 overflow-hidden">
                        <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-3.jpg');">
                            <img src="assets/img/business-3.jpg" class="mw-100 d-none" alt="" />
                        </div>
                        <div class="card-body">
                            <h5>Php Developer</h5>
                            <p class="mb-3 mb-lg-4">4-6 year experience</p>
                            <p class="text-secondary">We are looking for cost friendly developer in open-source technology like php and Laravel Yii3 to create and manage web/mobile applications.</p>
                            <br>
                            <button class="btn btn-sm btn-theme">Apply Now <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                    <div class="card border-0 overflow-hidden">
                        <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-4.jpg');">
                            <img src="assets/img/business-4.jpg" class="mw-100 d-none" alt="" />
                        </div>
                        <div class="card-body">
                            <h5>Front-end Developer</h5>
                            <p class="mb-3 mb-lg-4">3-5 year experience</p>
                            <p class="text-secondary">Developer who create clean like kitchen front-end apps integration with different frontend technologies. Apply now! If you wanted to work with us.</p>
                            <br>
                            <button class="btn btn-sm btn-theme">Apply Now <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-auto">
            <img src="assets/img/onboardingsummary.png" alt="" class="mw-100" />
        </div>
        <div class="col-12 col-md py-4 py-lg-5">
            <h2 class="mb-3">Our mission is to <br>serve good UI UX design.</h2>
            <h5 class="mb-4">We do it by ourselves with the team in which you can be a part.</h5>
            <p class="text-secondary">WinDOORS is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.
                It comes with unlimited possibilities and 10+ predefined styles which you can also mix up and create new style. Do support and spread a word for us. </p>
        </div>
        <div class="col-12 col-md-auto offset-md-1">
            <h2>4+</h2>
            <p class="text-secondary mb-4">Different technology starter kit</p>

            <h2>10 + 2</h2>
            <p class="text-secondary">Pre-defined colors + Layout modes </p>
        </div>
    </div>
</div>