<!-- Fixed navbar -->
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/auth/login">
            <div class="row">
                <div class="col-auto"><img src="assets/img/favicon48.png" name="logoimage" class="mx-100" alt="" /></div>
                <div class="col ps-0 align-self-center">
                    <h5 class="fw-normal text-dark">WinDOORS</h5>
                    <p class="small text-secondary">Admin App UI</p>
                </div>
            </div>
        </a>
        <div>
            <button type="button" class="btn btn-link text-secondary text-center" id="addtohome"><i class="bi bi-cloud-download-fill me-0 me-lg-1"></i> <span class="d-none d-lg-inline-block">Install</span></button>
            <a routerLink="/auth/registration/" class="btn btn-link text-secondary text-center" *ngIf="singUp"><i class="bi bi-person-circle me-0 me-lg-1"></i> <span class="d-none d-lg-inline-block">Sign up</span></a>
            <a routerLink="/auth/login/" class="btn btn-link text-secondary text-center" *ngIf="singIn"><i class="bi bi-person-circle me-0 me-lg-1"></i> <span class="d-none d-lg-inline-block">Sign In</span></a>
        </div>
    </div>
</nav>