<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Pricing</h5>
            <p class="text-secondary">Pricing plans should be impactful and competitive.</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container">

    <!-- Descriptive pricing  plans-->
    <h5 class="title">Descriptive Plans</h5>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4 border-0">
                <div class="card-body px-lg-4 px-xl-5">
                    <div class="text-center mb-4">
                        <span class="tag theme-green">Active</span>
                    </div>
                    <div class="row mb-4">
                        <div class="col-auto">
                            <i class="avatar avatar-50 rounded-circle bg-light-green text-green h5 bi bi-person vm"></i>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Personal</h4>
                            <p class="text-secondary">Perfect for the individuals</p>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <h1 class="display-4"><span class="text-secondary">$</span>50</h1>
                        </div>
                        <div class="col">
                            <p class="text-secondary">per license</p>
                        </div>
                    </div>
                    <h6>Basic includes:</h6>
                    <ul class="list-group list-group-flush no-border">
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> All demo access</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> Unlimited Download</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> No Contact list</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> 10 transactions per day</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> 24/7 Customer Support</li>
                    </ul>
                </div>
                <div class="card-footer text-center border-0">
                    <button class="btn btn-theme">Buy Now!</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-gradient-theme-light mb-4 shadow-sm border-0">
                <div class="card-body px-lg-4 px-xl-5">
                    <div class="text-center mb-4">
                        <span class="tag">Recommended</span>
                    </div>
                    <div class="row mb-4">
                        <div class="col-auto">
                            <i class="avatar avatar-50 rounded-circle bg-light-theme text-theme h5 bi bi-people vm"></i>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Business</h4>
                            <p class="text-secondary">Multiple team & customer</p>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <h1 class="display-4"><span class="text-secondary">$</span>100</h1>
                        </div>
                        <div class="col">
                            <p class="text-secondary">per license</p>
                        </div>
                    </div>
                    <h6>Basic includes:</h6>
                    <ul class="list-group list-group-flush bg-none no-border">
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> All demo access</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> Unlimited Download</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> No Contact list</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> 10 transactions per day</li>
                        <li class="list-group-item text-secondary"><i class="bi bi-check-circle vm me-1"></i> 24/7 Customer Support</li>
                    </ul>
                </div>
                <div class="card-footer text-center border-0">
                    <button class="btn btn-theme">Buy Now!</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4 border-0 bg-theme">
                <div class="card-body px-lg-4 px-xl-5 bg-none">
                    <div class="text-center mb-4">
                        <span class="tag bg-light-white text-white">Best</span>
                    </div>
                    <div class="row mb-4">
                        <div class="col-auto">
                            <i class="avatar avatar-50 rounded-circle bg-light-white text-white h5 bi bi-building vm"></i>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Ultra Pro</h4>
                            <p class="text-muted">Multiple Application</p>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <h1 class="display-4"><span class="text-muted">$</span>150</h1>
                        </div>
                        <div class="col">
                            <p class="text-muted">per license</p>
                        </div>
                    </div>
                    <h6>Basic includes:</h6>
                    <ul class="list-group list-group-flush bg-none no-border">
                        <li class="list-group-item text-white"><i class="bi bi-check-circle vm me-1"></i> All demo access</li>
                        <li class="list-group-item text-white"><i class="bi bi-check-circle vm me-1"></i> Unlimited Download</li>
                        <li class="list-group-item text-white"><i class="bi bi-check-circle vm me-1"></i> No Contact list</li>
                        <li class="list-group-item text-white"><i class="bi bi-check-circle vm me-1"></i> 10 transactions per day</li>
                        <li class="list-group-item text-white"><i class="bi bi-check-circle vm me-1"></i> 24/7 Customer Support</li>
                    </ul>
                </div>
                <div class="card-footer bg-none text-center border-0">
                    <button class="btn btn-theme">Buy Now!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- large plan features -->
    <h5 class="title">Large Comparative Plans</h5>
    <div class="card border-0 overflow-hidden text-center mb-4">
        <div class="row gx-0">
            <div class="col-12 col-lg">
                <div class="card-body p-3">
                    <h5 class="text-secondary">Do more pay less with annual plan</h5>
                    <h2>Flexible plans for you</h2>
                    <p class="text-secondary">Customized services please call our <a href="supportive-contact.html">customer service</a></p>
                    <br>
                    <div class=" table-responsive">
                        <table class="table table-responsive mb-0">
                            <thead>
                                <tr>
                                    <th class="text-start">
                                        <h6>Whats included?</h6>
                                    </th>
                                    <th class="text-center selected">
                                        <h4>$50.00</h4>
                                        <h6 class="text-theme">Personal</h6>
                                    </th>
                                    <th class="text-center">
                                        <h4>$100.00</h4>
                                        <h6 class="text-theme">Pro</h6>
                                    </th>
                                    <th class="text-center">
                                        <h4>$150.00</h4>
                                        <h6 class="text-theme">Ultra Pro</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-start vm text-secondary">
                                        Unlimited domain
                                    </td>
                                    <td>
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-start vm text-secondary">
                                        Firewall setup
                                    </td>
                                    <td>
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-start vm text-secondary">
                                        React support
                                    </td>
                                    <td></td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-start vm text-secondary">
                                        Angular Starter Kit
                                    </td>
                                    <td class="selected"></td>
                                    <td class=""></td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-start vm text-secondary">
                                        Laravel Starter Kit
                                    </td>
                                    <td></td>
                                    <td class=""></td>
                                    <td class="">
                                        <i class="text-success bi bi-check-circle h5"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-start vm border-0 pt-3">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="payannual" checked>
                                            <label class="form-check-label" for="payannual">Pay Annual</label>
                                        </div>
                                    </td>
                                    <td class="border-0 pt-3">
                                        <button class="btn btn-light-theme">Get Started</button>
                                    </td>
                                    <td class="border-0 pt-3">
                                        <button class="btn btn-light-theme">Get Started</button>
                                    </td>
                                    <td class="border-0 pt-3">
                                        <button class="btn btn-light-theme">Get Started</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-lg-4 mnh-250 position-relative overflow-hidden">
                <div class="coverimg h-100 w-100 position-absolute start-0 top-0" style="background-image: url('assets/img/payment.png');">
                    <img src="assets/img/payment.png" alt="" class="d-none" />
                </div>
            </div>
        </div>
    </div>

    <!-- Get started-->
    <h5 class="title">Quick get started</h5>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-4 text-center border-0">
                <div class="card-body p-xl-3 p-xxl-4">
                    <h4 class="mb-1">Personal</h4>
                    <h1><span class="text-secondary fw-normal">$</span> 30.00</h1>
                    <p class="text-secondary">per month</p>
                    <br>
                    <button class="btn btn-light-theme">Get started</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 text-center bg-gradient-theme-light theme-yellow border-0">
                <div class="card-body p-xl-3 p-xxl-4 bg-none">
                    <h4 class="mb-1">Business</h4>
                    <h1><span class="text-secondary fw-normal">$</span> 60.00</h1>
                    <p class="text-secondary">per month</p>
                    <br>
                    <button class="btn btn-light-theme">Get started</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 text-center border-0 bg-radial-gradiant theme-green">
                <div class="card-body bg-none p-xl-3 p-xxl-4">
                    <h4 class="mb-1">Ultra Pro</h4>
                    <h1><span class="text-muted fw-normal">$</span> 90.00</h1>
                    <p class="text-muted">per month</p>
                    <br>
                    <button class="btn btn-light-theme">Get started</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Small pricing  plans-->
    <h5 class="title">Small Plans Boxes</h5>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-4  border-0">
                <div class="card-body p-xl-4 p-xxl-5">
                    <div class="row mb-4">
                        <div class="col-auto">
                            <i class="avatar avatar-50 rounded-circle bg-light-green text-green h5 bi bi-person vm"></i>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Personal</h4>
                            <p class="text-secondary">Perfect for the individuals</p>
                        </div>
                    </div>
                    <p class="text-secondary mb-4">WinDOORS is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.</p>
                    <div class="row gx-2 align-items-center mb-4">
                        <div class="col-auto">
                            <h1><span class="text-secondary fw-normal">$</span>30.00</h1>
                        </div>
                        <div class="col">
                            <p class="text-secondary">per license</p>
                        </div>
                    </div>
                    <button class="btn btn-outline-theme">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 bg-gradient-theme-light theme-red border-0">
                <div class="card-body p-xl-4 p-xxl-5 bg-none">
                    <div class="row mb-4">
                        <div class="col-auto">
                            <i class="avatar avatar-50 rounded-circle bg-light-theme text-theme h5 bi bi-people vm"></i>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Business</h4>
                            <p class="text-secondary">Multiple team & customer</p>
                        </div>
                    </div>
                    <p class="text-secondary mb-4">WinDOORS is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.</p>
                    <div class="row gx-2 align-items-center mb-4">
                        <div class="col-auto">
                            <h1><span class="text-secondary fw-normal">$</span>60.00</h1>
                        </div>
                        <div class="col">
                            <p class="text-secondary">per license</p>
                        </div>
                    </div>
                    <button class="btn btn-outline-theme">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 border-0 bg-radial-gradiant theme-purple">
                <div class="card-body bg-none p-xl-4 p-xxl-5">
                    <div class="row mb-4">
                        <div class="col-auto">
                            <i class="avatar avatar-50 rounded-circle bg-light-white text-white h5 bi bi-building vm"></i>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Ultra Pro</h4>
                            <p class="text-muted">Multiple Application</p>
                        </div>
                    </div>
                    <p class="text-muted mb-4">WinDOORS is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.</p>
                    <div class="row gx-2 align-items-center mb-4">
                        <div class="col-auto">
                            <h1><span class="text-muted fw-normal">$</span>90.00</h1>
                        </div>
                        <div class="col">
                            <p class="text-muted">per license</p>
                        </div>
                    </div>
                    <button class="btn btn-outline-light">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

</div>