<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Files</h5>
            <p class="text-secondary">Files and Folder views</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>


<div class="container">
    <!-- Small files -->
    <h5 class="title">Small Files</h5>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <a class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-30 rounded text-theme mr-3">
                                <i class="bi bi-folder-fill h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="mb-0">William's School</p>
                            <p class="small text-secondary">18 Files</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <a class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-30 rounded text-theme mr-3">
                                <i class="bi bi-folder-fill h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="mb-0">Music Audition</p>
                            <p class="small text-secondary">3 Files</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <a class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-30 rounded text-theme mr-3">
                                <i class="bi bi-folder-fill h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="mb-0">Housing Papers</p>
                            <p class="small text-secondary">6 Files</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <a class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-30 rounded text-theme mr-3">
                                <i class="bi bi-folder-fill h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="mb-0">Lisa's Tuition</p>
                            <p class="small text-secondary">4 Files</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- simple files -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded bg-blue text-white">
                                <i class="bi bi-file-earmark-text h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-1">Docs</h6>
                            <p class="text-secondary">1254 files</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded bg-green text-white">
                                <i class="bi bi-file-earmark-music h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-1">Musics</h6>
                            <p class="text-secondary">3200 files</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded bg-yellow text-white">
                                <i class="bi bi-file-earmark-play h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-1">Videos</h6>
                            <p class="text-secondary">165 files</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded bg-red text-white">
                                <i class="bi bi-file-earmark-richtext h5 vm"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-1">Other</h6>
                            <p class="text-secondary">2589 files</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Files with progress blocks -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-white rounded-circle text-center shadow-sm mb-2">
                                    <div class="circle-small theme-blue mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="50" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-blue rounded-circle">
                                            <i class="bi bi-globe"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-secondary small mb-1">6.5 GB</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Webspace</p>
                            <h5 class="fw-medium">5.5GB <small>used</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-white rounded-circle text-center shadow-sm mb-2">
                                    <div class="circle-small theme-yellow mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="75" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-yellow text-yellow rounded-circle">
                                            <i class="bi bi-file-earmark-richtext"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-secondary small mb-1">3500k </p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">Server</p>
                            <h5 class="fw-medium">2569k <small>Files</small></h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-white rounded-circle text-center shadow-sm mb-2">
                                    <div class="circle-small theme-red mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="45" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-red text-red rounded-circle">
                                            <i class="bi bi-device-ssd"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-secondary small mb-1">1.5 TB</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-secondary small mb-1">SSD used</p>
                            <h5 class="fw-medium">1.15<small>TB</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-3 pt-4">
            <div class="card bg-theme border-0 mb-4">
                <div class="card-body bg-none">
                    <div class="row align-items-center">
                        <div class="col-auto text-center">
                            <div class="mtop-35 position-relative">
                                <div class="avatar avatar-60 bg-theme rounded-circle text-center shadow mb-2">
                                    <div class="circle-small mx-auto d-inline-block vm">
                                        <circle-progress class="d-block vm" [percent]="50" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'#ffffff'" [innerStrokeColor]="'rgba(255, 255, 255, 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                        <div class="avatar h5 bg-light-white text-white rounded-circle">
                                            <i class="bi bi-envelope-check"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-white text-muted small mb-1">$ 1.5k</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-muted small mb-1">Bills</p>
                            <h5 class="fw-medium">186 <small>USD</small></h5>
                        </div>
                        <div class="col-auto ps-0 avatar-group">
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Shelvey Doe">
                                <img src="assets/img/user-2.jpg" alt="">
                            </figure>
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Maria Smith">
                                <img src="assets/img/user-3.jpg" alt="">
                            </figure>
                            <figure class="avatar avatar-40 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Steve Branden">
                                <img src="assets/img/user-4.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Medium files -->
    <h5 class="title">Medium Files</h5>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-1.jpg');">
                    <img src="assets/img/business-1.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-footer bg-none">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <a href="javascript:void(0)" class="avatar avatar-30 rounded text-red mr-3">
                                <i class="bi bi-file-earmark-pdf h5 vm"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <p class="mb-0">Construction-bid.pdf</p>
                            <p class="small text-secondary">10.00 mb, 28/02/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-2.jpg');">
                    <img src="assets/img/business-2.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-footer bg-none">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <a href="javascript:void(0)" class="avatar avatar-30 rounded text-green mr-3">
                                <i class="bi bi-file-earmark-excel h5 vm"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <p class="mb-0">Assets-estimates.pdf</p>
                            <p class="small text-secondary">1.2mb, 28/02/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-3.jpg');">
                    <img src="assets/img/business-3.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-footer bg-none">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <a href="javascript:void(0)" class="avatar avatar-30 rounded text-blue mr-3">
                                <i class="bi bi-file-earmark-richtext h5 vm"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <p class="mb-0">savemoremoney-learning.doc</p>
                            <p class="small text-secondary">3.00 mb, 28/02/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-4.jpg');">
                    <img src="assets/img/business-4.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-footer bg-none">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <a href="javascript:void(0)" class="avatar avatar-30 rounded text-pink mr-3">
                                <i class="bi bi-file-earmark-music h5 vm"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <p class="mb-0">rockthebuddy-now.jpg</p>
                            <p class="small text-secondary">6 mb, 28/02/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Large files -->
    <h5 class="title">Large Files</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-6 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="row gx-0 h-100">
                    <div class="col-12 col-md-5">
                        <div class="h-100 mnh-200 w-100 coverimg" style="background-image: url('assets/img/bg-8.jpg');">
                            <img src="assets/img/bg-8.jpg" class="mw-100 d-none" alt="" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body p-3">
                            <div class="row gx-3 align-items-center mb-4">
                                <div class="col-auto">
                                    <a href="javascript:void(0)" class="avatar avatar-40 rounded bg-red text-white">
                                        <i class="bi bi-file-earmark-pdf h5 vm"></i>
                                    </a>
                                </div>
                                <div class="col">
                                    <p class="mb-1">StartFlying-startDreaming.pdf</p>
                                    <p class="small"><span class="text-secondary">File Size:</span> 10.00 mb</p>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">File Type:</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>PDF</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Date Created:</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>28/03/2022</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Created by:</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>Raju Smith</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Modified by</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>Lincoln on <span class="text-secondary">1/04/2022</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Shared:</p>
                                </div>
                                <div class="col">
                                    <figure class="avatar avatar-30 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Shelvey Doe">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </figure>
                                    <figure class="avatar avatar-30 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Maria Smith">
                                        <img src="assets/img/user-3.jpg" alt="">
                                    </figure>
                                    <figure class="avatar avatar-30 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Steve Branden">
                                        <img src="assets/img/user-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-liink btn-square"><i class="bi bi-share fs-12"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-6 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="row gx-0 h-100">
                    <div class="col-12 col-md-5">
                        <div class="h-100 w-100 mnh-200 coverimg" style="background-image: url('assets/img/bg-7.jpg');">
                            <img src="assets/img/bg-7.jpg" class="mw-100 d-none" alt="" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body p-3">
                            <div class="row gx-3 align-items-center mb-4">
                                <div class="col-auto">
                                    <a href="javascript:void(0)" class="avatar avatar-40 rounded bg-orange text-white">
                                        <i class="bi bi-filetype-ppt h5 vm"></i>
                                    </a>
                                </div>
                                <div class="col">
                                    <p class="mb-1">nature-is-good-therapy.ppt</p>
                                    <p class="small"><span class="text-secondary">File Size:</span> 10.00 mb</p>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">File Type:</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>PPT</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Date Created:</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>28/03/2022</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Created by:</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>Raju Smith</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Modified by</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>Maxartkiller on <span class="text-secondary">1/04/2022</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="text-secondary">Shared:</p>
                                </div>
                                <div class="col">
                                    <figure class="avatar avatar-30 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Shelvey Doe">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </figure>
                                    <figure class="avatar avatar-30 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Maria Smith">
                                        <img src="assets/img/user-3.jpg" alt="">
                                    </figure>
                                    <figure class="avatar avatar-30 rounded-circle coverimg overlay-ms-15" data-bs-toggle="tooltip" data-bs-placement="top" title="Steve Branden">
                                        <img src="assets/img/user-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-liink btn-square"><i class="bi bi-share fs-12"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- upload files -->
    <h5 class="title">Upload Files</h5>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-6 mb-4">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-cloud-upload h5 avatar avatar-40 bg-light-theme text-theme rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Upload Files</h6>
                            <p class="small text-secondary">Files must not exceeds to 10 Mb in size.</p>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Settings</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <div class="border bg-light-theme rounded h-100 position-relative">
                                <input type="file" class="opactity-0 position-absolute top-0 start-0 h-100 w-100 z-index-1">
                                <div class="row align-items-center h-100">
                                    <div class="col text-center">
                                        <i class="bi bi-cloud-upload h2 mb-3"></i>
                                        <h6>Upload File</h6>
                                        <p class="text-muted">Click to select file</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row gx-2 mb-4">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 rounded bg-green text-white">
                                        <i class="bi bi-check-circle h5 vm"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="mb-0">estimation-and-cost.docx</p>
                                    <p class="small text-secondary">2.00Mb</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-link text-danger">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row gx-2 mb-4">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 rounded bg-red text-white">
                                        <i class="bi bi-file-earmark-pdf h5 vm"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <p>DrivedoGo.pdf</p>
                                    <div class="progress h-5">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-link text-danger">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 rounded bg-orange text-white">
                                        <i class="bi bi-filetype-ppt h5 vm"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <p>validdatacollect.ppt</p>
                                    <div class="progress h-5">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-theme" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-square btn-link text-danger">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-secondary my-2">Input file browse used, no any third party for browse.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-6 mb-4">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-cloud-upload h5 avatar avatar-40 bg-light-theme text-theme rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Upload Files</h6>
                            <p class="small text-secondary">Files must not exceeds to 10 Mb in size.</p>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Settings</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone">
                        <ngx-dropzone-label>
                            <i class="bi bi-cloud-arrow-up h2 avatar avatar-80 rounded-circle bg-light-theme mb-3"></i>
                            <h5>Drag and Drop files here!</h5>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <p class="text-secondary mt-2"><span class="badge bg-yellow fw-medium me-1 vm">NgxDropzone Demo</span> Awesome features &amp; Freeware MIT <a href="https://www.npmjs.com/package/ngx-dropzone" target="_blank">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>