<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Company Resources</h5>
            <p class="text-secondary">Get addicted to learning for the best future.</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>



<div class="container">
    <div class="row mb-4 py-2">
        <div class="col text-center">
            <h4>Learning is life, <span class="text-gradient">Explore more and Rewrite</span> an lessons you have learn't</h4>
            <p class="text-secondary">You should learn and explore opportunities. If there is obstacles, try to remove it and improvise.</p>
        </div>
    </div>

    <p class="mb-2 text-center">
        <span class="vm me-1 mb-1">Tags: </span>
        <span class="tag bg-light-theme theme-green me-1 mb-1 active">Course</span>
        <span class="tag bg-light-theme theme-blue me-1 mb-1 active">Reading</span>
        <span class="tag bg-light-theme theme-purple me-1 mb-1 active">Article</span>
        <span class="tag bg-light-theme theme-yellow me-1 mb-1">Updates</span>
        <span class="tag bg-light-theme theme-pink me-1 mb-1">Beauty</span>
        <span class="tag bg-light-theme theme-teal me-1 mb-1">Technology</span>
        <span class="tag bg-light-theme theme-red me-1 mb-1">Learning</span>
    </p>

    <p class="mb-4 mb-lg-5 text-center">
        <span class="vm me-1 mb-1">Type: </span>
        <span class="tag bg-light-theme me-1 mb-1 active">Digital</span>
        <span class="tag bg-light-theme me-1 mb-1">Video</span>
        <span class="tag bg-light-theme me-1 mb-1">Webinar</span>
        <span class="tag bg-light-theme me-1 mb-1">Event</span>
        <span class="tag bg-light-theme me-1 mb-1 active">Web</span>
    </p>

    <div class="row">
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-1.jpg');">
                    <img src="assets/img/business-1.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme theme-green">Course</span>
                    </p>
                    <h5>Getting older earlier.</h5>
                    <p class="text-secondary">When you get older many people will listen you carefully, no matter if its correct discussion or not.</p>

                    <button class="btn btn-link text-theme">Join Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-2.jpg');">
                    <img src="assets/img/business-2.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme">Reading</span>
                    </p>
                    <h5>Tell best at worst time.</h5>
                    <p class="text-secondary">There is nothing can be hear clearly until some people pass through worst time of his/her life.</p>

                    <button class="btn btn-link text-theme">Read Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-3.jpg');">
                    <img src="assets/img/business-3.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme theme-purple">Article</span>
                    </p>
                    <h5>Being rich is not the goal.</h5>
                    <p class="text-secondary">Keep your target goal as much clear as crystal. Don't just be rich, care each lives human and animals.</p>

                    <button class="btn btn-link text-theme">Read Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-4.jpg');">
                    <img src="assets/img/business-4.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme theme-yellow">Course</span>
                    </p>
                    <h5>Home is your soul image.</h5>
                    <p class="text-secondary">Most of the people don't like to see their home dirty. Agree? Yes, never make your soul dirty. Keep it clean.</p>

                    <button class="btn btn-link text-theme">Join Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-5.jpg');">
                    <img src="assets/img/business-5.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme theme-green">Course</span>
                    </p>
                    <h5>Getting older earlier.</h5>
                    <p class="text-secondary">When you get older many people will listen you carefully, no matter if its correct discussion or not.</p>

                    <button class="btn btn-link text-theme">Join Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/bg-12.jpg');">
                    <img src="assets/img/bg-12.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme">Reading</span>
                    </p>
                    <h5>Tell best at worst time.</h5>
                    <p class="text-secondary">There is nothing can be hear clearly until some people pass through worst time of his/her life.</p>

                    <button class="btn btn-link text-theme">Read Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/bg-3.jpg');">
                    <img src="assets/img/bg-3.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme theme-purple">Article</span>
                    </p>
                    <h5>Being rich is not the goal.</h5>
                    <p class="text-secondary">Keep your target goal as much clear as crystal. Don't just be rich, care each lives human and animals.</p>

                    <button class="btn btn-link text-theme">Read Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/bg-4.jpg');">
                    <img src="assets/img/bg-4.jpg" class="mw-100 d-none" alt="" />
                </div>
                <div class="card-body">
                    <p class="mb-3">
                        <span class="tag bg-light-theme theme-yellow">Course</span>
                    </p>
                    <h5>Home is your soul image.</h5>
                    <p class="text-secondary">Most of the people don't like to see their home dirty. Agree? Yes, never make your soul dirty. Keep it clean.</p>

                    <button class="btn btn-link text-theme">Join Now <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4 py-2">
        <div class="col text-center">
            <h4>Find the best <span class="text-gradient">Resource</span></h4>
            <p class="text-secondary">Learn about advices, tricks, work style and approach.<br>User experience is the best key to success.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xxl-4 mb-4">
            <!-- targets and course progress -->
            <div class="card border-0 position-relative">
                <div class="coverimg position-absolute end-0 top-0 h-100 w-30pct rounded" style="background-image: url('assets/img/business-2.jpg');">
                    <img src="assets/img/business-2.jpg" alt="" class="mw-100 d-none" />
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="card border-0 bg-white shadow-none">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <p class="small text-secondary mb-0">Business Model</p>
                                        <p>Data communication & signal strength</p>
                                        <div class="mt-3">
                                            <div class="progress h-5 mb-1 bg-light-theme">
                                                <div class="progress-bar bg-theme" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <p class="small text-secondary">Targeted <span class="float-end">27 June 2022</span></p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="rounded bg-theme text-white h-100 p-3">
                                            <p class="text-muted small mb-1">
                                                Java<br>Language
                                            </p>
                                            <p>152 hrs</p>
                                            <p>Start <i class="bi bi-play vm"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-4 mb-4">
            <div class="card border-0 theme-red">
                <div class="card-body">
                    <div class="row">
                        <div class="col align-self-center">
                            <div class="row">
                                <div class="col-12 col-lg">
                                    <p class="text-secondary small mb-0">Subscribed</p>
                                    <p>Create HTML to Angular template with ease</p>
                                </div>
                                <div class="col-12 col-lg-auto text-start text-xl-end">
                                    <p class="text-secondary small mb-0">Author:</p>
                                    <p>Maxartkiller</p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="progress h-5 mb-1 bg-light-theme">
                                    <div class="progress-bar bg-theme" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="small text-secondary">Targeted<span class="float-end">23 June 2022</span></p>
                        </div>
                        <div class="col-auto">
                            <div class="rounded bg-theme text-white p-3">
                                <p class="text-muted small mb-1">
                                    Angular<br>UI Kit
                                </p>
                                <p>100 hrs</p>
                                <p>Start <i class="bi bi-play vm"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xxl-4 mb-4">
            <div class="card border-0 theme-green">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="rounded bg-theme text-white p-3">
                                <p class="text-muted small mb-1">
                                    HTML<br>Template
                                </p>
                                <p>125 hrs</p>
                                <p>Start <i class="bi bi-play vm"></i></p>
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <div class="row">
                                <div class="col-12 col-lg">
                                    <p class="text-secondary small mb-0">Free Course</p>
                                    <p>Easily making money via blockchain</p>
                                </div>
                                <div class="col-12 col-lg-auto text-start text-xl-end">
                                    <p class="text-secondary small mb-0">Author:</p>
                                    <p>Maxartkiller</p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="progress h-5 mb-1 bg-light-theme">
                                    <div class="progress-bar bg-theme" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <p class="small text-secondary">Targeted<span class="float-end">23 June 2022</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- courses summary-->
    <div class=" row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
            <div class="card border-0 mb-4 rounded overflow-hidden">
                <figure class="coverimg w-100 h-150 mb-0" style="background-image: url('assets/img/business-2.jpg');">
                    <img src="assets/img/business-2.jpg" class="w-100 d-none" alt="" />
                </figure>
                <div class="card-body">
                    <h5 class="mb-1">Data communication and signal strength</h5>
                    <p class="text-secondary mb-3">Network to Internet making Intranet</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">1542 <small class="h6">students</small></h4>
                            <p class="small">11 <span class="text-green"><i class="bi bi-arrow-up fs-10"></i>3.15%</span></p>
                        </div>
                        <div class="col-auto">
                            <div class="circle-small theme-blue">
                                <circle-progress class="d-block vm" [percent]="50" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="true" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="true" [backgroundPadding]="0"></circle-progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <div class="cut-5 mb-2">
                        <canvas class="smallchart65" #chartareablue baseChart [datasets]="chartareablueData" [colors]="chartareablueColors" [labels]="chartareablueLabels" [options]="chartareablueOptions" [plugins]="chartareabluePlugins" [legend]="chartareablueLegend" [chartType]="chartareablueType" id="chartareablue">
                        </canvas>
                    </div>
                    <div class="row gx-2 text-center">
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-book avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Lessons</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clock avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                24<br /><small class="text-secondary">hrs/week</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clipboard-check avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Exams</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-journal-bookmark avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                2<br /><small class="text-secondary">Projects</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
            <div class="card border-0 mb-4 rounded overflow-hidden">
                <figure class="coverimg w-100 h-150 mb-0" style="background-image: url('assets/img/business-3.jpg');">
                    <img src="assets/img/business-3.jpg" class="w-100 d-none" alt="" />
                </figure>
                <div class="card-body">
                    <h5 class="mb-1">Easily making money via blockchain</h5>
                    <p class="text-secondary mb-3">All you need to work about blockchain</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">325 <small class="h6">Joined</small></h4>
                            <p class="small">12 <span class="text-green"><i class="bi bi-arrow-up fs-10"></i>3.15%</span></p>
                        </div>
                        <div class="col-auto">
                            <div class="circle-small theme-green">
                                <circle-progress class="d-block vm" [percent]="85" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="true" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="true" [backgroundPadding]="0"></circle-progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <div class="cut-5 mb-2">
                        <canvas class="smallchart65" #chartareagreen baseChart [datasets]="chartareagreenData" [colors]="chartareagreenColors" [labels]="chartareagreenLabels" [options]="chartareagreenOptions" [plugins]="chartareagreenPlugins" [legend]="chartareagreenLegend" [chartType]="chartareagreenType" id="chartareagreen">
                        </canvas>
                    </div>
                    <div class="row gx-2 text-center">
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-book avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Lessons</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clock avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                24<br /><small class="text-secondary">hrs/week</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clipboard-check avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Exams</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-journal-bookmark avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                2<br /><small class="text-secondary">Projects</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
            <div class="card border-0 mb-4 rounded overflow-hidden">
                <figure class="coverimg w-100 h-150 mb-0" style="background-image: url('assets/img/business-4.jpg');">
                    <img src="assets/img/business-4.jpg" class="w-100 d-none" alt="" />
                </figure>
                <div class="card-body">
                    <h5 class="mb-1">Home furnishing & appliance Management</h5>
                    <p class="text-secondary mb-3">Design and Adjust space around</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">2015 <small class="h6">In groups</small></h4>
                            <p class="small">62 <span class="text-green"><i class="bi bi-arrow-up fs-10"></i>3.15%</span></p>
                        </div>
                        <div class="col-auto">
                            <div class="circle-small theme-yellow">
                                <circle-progress class="d-block vm" [percent]="65" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="true" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="true" [backgroundPadding]="0"></circle-progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <div class="smallchart65 cut-5 mb-2">
                        <canvas class="smallchart65" #chartareayellow baseChart [datasets]="chartareayellowData" [colors]="chartareayellowColors" [labels]="chartareayellowLabels" [options]="chartareayellowOptions" [plugins]="chartareayellowPlugins" [legend]="chartareayellowLegend" [chartType]="chartareayellowType" id="chartareayellow">
                        </canvas>
                    </div>
                    <div class="row gx-2 text-center">
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-book avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Lessons</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clock avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                24<br /><small class="text-secondary">hrs/week</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clipboard-check avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Exams</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-journal-bookmark avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                2<br /><small class="text-secondary">Projects</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 d-block d-xl-none d-xxl-block">
            <div class="card border-0 mb-4 rounded overflow-hidden">
                <figure class="coverimg w-100 h-150 mb-0" style="background-image: url('assets/img/business-5.jpg');">
                    <img src="assets/img/business-5.jpg" class="w-100 d-none" alt="" />
                </figure>
                <div class="card-body">
                    <h5 class="mb-1">Be a good and create good Presentations</h5>
                    <p class="text-secondary mb-3">How to convince viewer</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">178 <small class="h6">Joined</small></h4>
                            <p class="small">18 <span class="text-green"><i class="bi bi-arrow-up fs-10"></i>3.15%</span></p>
                        </div>
                        <div class="col-auto">
                            <div class="circle-small theme-red">
                                <circle-progress class="d-block vm" [percent]="75" [radius]="21" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="true" [showSubtitle]="false" [titleFontSize]="'15'" [showUnits]="true" [backgroundPadding]="0"></circle-progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <div class="cut-5 mb-2">
                        <canvas class="smallchart65" #chartareared baseChart [datasets]="chartarearedData" [colors]="chartarearedColors" [labels]="chartarearedLabels" [options]="chartarearedOptions" [plugins]="chartarearedPlugins" [legend]="chartarearedLegend" [chartType]="chartarearedType" id="chartareared">
                        </canvas>
                    </div>
                    <div class="row gx-2 text-center">
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-book avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Lessons</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clock avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                24<br /><small class="text-secondary">hrs/week</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-clipboard-check avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                30<br /><small class="text-secondary">Exams</small>
                            </p>
                        </div>
                        <div class="col-3 mb-3">
                            <p>
                                <i class="bi bi-journal-bookmark avatar avatar-24 mb-2 d-inline-block text-theme"></i><br />
                                2<br /><small class="text-secondary">Projects</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="row gx-3">
                    <div class="col-6">
                        <div class="h-100 w-100 coverimg" style="background-image: url('assets/img/business-1.jpg');">
                            <img src="assets/img/business-1.jpg" class="mw-100 d-none" alt="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <p class="mb-3">
                                <span class="tag bg-light-theme theme-green">Course</span>
                            </p>
                            <h5>Getting older earlier.</h5>
                            <p class="text-secondary mb-4">When you get older many people will listen you carefully, no matter if its correct discussion or not.</p>
                            <div class="row gx-3 mb-3">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm" style="background-image: url('assets/img/user-4.jpg');">
                                        <img src="assets/img/user-4.jpg" alt="" class="d-none">
                                    </figure>
                                </div>
                                <div class="col align-self-center">
                                    <p class="mb-0">David Warner</p>
                                    <p class="small text-secondary">London, UK</p>
                                </div>
                            </div>
                            <button class="btn btn-link text-theme">Join Now <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-4">
            <div class="card border-0 overflow-hidden">
                <div class="row gx-3">
                    <div class="col-6">
                        <div class="h-100 w-100 coverimg" style="background-image: url('assets/img/business-2.jpg');">
                            <img src="assets/img/business-2.jpg" class="mw-100 d-none" alt="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <p class="mb-3">
                                <span class="tag bg-light-theme theme-green">Course</span>
                            </p>
                            <h5>Getting older earlier.</h5>
                            <p class="text-secondary mb-4">When you get older many people will listen you carefully, no matter if its correct discussion or not.</p>
                            <div class="row gx-3 mb-3">
                                <div class="col-auto align-self-center">
                                    <figure class="avatar avatar-40 rounded-circle coverimg vm" style="background-image: url('assets/img/user-4.jpg');">
                                        <img src="assets/img/user-4.jpg" alt="" class="d-none">
                                    </figure>
                                </div>
                                <div class="col align-self-center">
                                    <p class="mb-0">David Warner</p>
                                    <p class="small text-secondary">London, UK</p>
                                </div>
                            </div>
                            <button class="btn btn-link text-theme">Join Now <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>