<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Users</h5>
            <p class="text-secondary">Cards, list, groups</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>

<div class="container">
    <h5 class="title">User card - small</h5>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded-circle coverimg" style="background-image: url('assets/img/user-2.jpg');">
                                <img src="assets/img/user-2.jpg" alt="" class="d-none" />
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Athiyaa Vikass</h6>
                            <p class="small text-secondary ">Secretory at VenGuide Hustal</p>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded-circle coverimg" style="background-image: url('assets/img/user-3.jpg');">
                                <img src="assets/img/user-3.jpg" alt="" class="d-none" />
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Sonia Bell</h6>
                            <p class="small text-secondary">Team Lead from Jaisalmer </p>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded-circle coverimg" style="background-image: url('assets/img/user-4.jpg');">
                                <img src="assets/img/user-4.jpg" alt="" class="d-none">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Kim Lui</h6>
                            <p class="small text-secondary">Researcher from Alaska</p>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-50 rounded-circle coverimg" style="background-image: url('assets/img/user-1.jpg');">
                                <img src="assets/img/user-1.jpg" alt="" class="d-none" name="userimage">
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Maxartkiller</h6>
                            <p class="small text-secondary">Designer from London, UK</p>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="title">User card - medium</h5>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 text-center mb-3">
                <div class="card-body">
                    <div class="h-200 overflow-hidden rounded mb-3 position-relative z-index-0">
                        <figure class="h-100 w-100 coverimg zoomout" style="background-image: url('assets/img/user-1.jpg');">
                            <img src="assets/img/user-1.jpg" alt="" class="d-none" name="userimage" />
                        </figure>
                    </div>
                    <h5 class="text-truncate mb-1">Max Smith</h5>
                    <p class="text-secondary mb-3">maxsmith@gmailtest.com</p>
                    <span class="tag bg-theme">Super Admin</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 text-center mb-3">
                <div class="card-body">
                    <div class="h-200 overflow-hidden rounded mb-3 position-relative z-index-0">
                        <figure class="h-100 w-100 coverimg zoomout" style="background-image: url('assets/img/user-2.jpg');">
                            <img src="assets/img/user-2.jpg" alt="" class="d-none" />
                        </figure>
                    </div>
                    <h5 class="text-truncate mb-1">Jullia Roberto</h5>
                    <p class="text-secondary mb-3">robertojullia@gmailtest.com</p>
                    <span class="tag bg-yellow">CEO</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 text-center mb-3">
                <div class="card-body">
                    <div class="h-200 overflow-hidden rounded mb-3 position-relative z-index-0">
                        <figure class="h-100 w-100 coverimg zoomout" style="background-image: url('assets/img/user-3.jpg');">
                            <img src="assets/img/user-3.jpg" alt="" class="d-none" />
                        </figure>
                    </div>
                    <h5 class="text-truncate mb-1">Ahistaa Vask</h5>
                    <p class="text-secondary mb-3">ahistaavask@gmailtest.com</p>
                    <span class="tag bg-pink">Marketing</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0 text-center mb-3">
                <div class="card-body">
                    <div class="h-200 overflow-hidden rounded mb-3 position-relative z-index-0">
                        <figure class="h-100 w-100 coverimg zoomout" style="background-image: url('assets/img/user-4.jpg');">
                            <img src="assets/img/user-4.jpg" alt="" class="d-none" />
                        </figure>
                    </div>
                    <h5 class="text-truncate mb-1">Arjun Deshpande</h5>
                    <p class="text-secondary mb-3">arjundesh@gmailtest.com</p>
                    <span class="tag bg-red">Moderator</span>
                </div>
            </div>
        </div>
    </div>

    <h5 class="title">User card - Detailed</h5>
    <div class="row">
        <div class="col-12 col-md-12 col-xl-6">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-5 text-center">
                            <div class="h-200 overflow-hidden rounded mb-3 position-relative z-index-0">
                                <figure class="h-100 w-100 coverimg zoomout" style="background-image: url('assets/img/bg-13.jpg');">
                                    <img src="assets/img/bg-13.jpg" alt="" class="d-none" />
                                </figure>
                            </div>
                            <h5 class="text-truncate mb-1">Jack Ma Li</h5>
                            <p class="text-secondary mb-3">jackmali@gmailtest.com</p>
                            <span class="tag bg-yellow">Developer</span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-7 border-left-dashed">
                            <div class="row align-items-center mb-2">
                                <div class="col">
                                    <h6 class="title">Profile Details:</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="btn btn-link dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush bg-none">
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Timesheet and Timelog
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Project Management
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Company Profile and Personalization
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Track and Manage Task
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Bandwidth <b>10Mbps</b> and max. <b>24Gb/day</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Restriction: <b>Level 1</b>, <b>Level 2</b>, <b>Jobs</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Emergency Contacts
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-5 text-center">
                            <div class="h-200 overflow-hidden rounded mb-3 position-relative z-index-0">
                                <figure class="h-100 w-100 coverimg zoomout" style="background-image: url('assets/img/bg-8.jpg');">
                                    <img src="assets/img/bg-8.jpg" alt="" class="d-none" />
                                </figure>
                            </div>
                            <h5 class="text-truncate mb-1">Sandy Toppaca</h5>
                            <p class="text-secondary mb-3">ssandy001@gmailtest.com</p>
                            <span class="tag bg-purple">Manager</span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-7 border-left-dashed">
                            <div class="row align-items-center mb-2">
                                <div class="col">
                                    <h6 class="title">Profile Details:</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown d-inline-block">
                                        <a class="btn btn-link dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush bg-none">
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Timesheet and Time-log
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Project Management
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Company Profile and Personalization
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Track and Manage Task
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Bandwidth <b>15Mbps</b> and max. <b>10Gb/day</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Restriction: <b>Level 1</b>, <b>Level 2</b>, <b>Level 3</b>, <b>Jobs</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="bi bi-check-circle text-muted"></i>
                                        </div>
                                        <div class="col-auto ps-0">
                                            Emergency Contacts
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="title">User list - table</h5>
    <!-- Grid table-->
    <div class="card border-0 mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-auto">
                    <i class="bi bi-shop h5 avatar avatar-40 bg-light-theme rounded"></i>
                </div>
                <div class="col-auto align-self-center">
                    <h6 class="d-inline-block mb-0">Tickets Raised</h6>
                    <p class="text-secondary small">All Open Tickets</p>
                </div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-4 col-xxl-3">
                    <div class="rounded border">
                        <select class="chosenoptgroup one w-100">
                            <option>All Categories</option>
                            <optgroup label="Food">
                                <option>- Work</option>
                                <option>- Home</option>
                            </optgroup>
                            <optgroup label="Children">
                                <option>- Fees</option>
                                <option>- Enjoyment</option>
                            </optgroup>
                            <optgroup label="Transportation">
                                <option>- Personal</option>
                                <option>- Work</option>
                            </optgroup>
                            <optgroup label="Home">
                                <option>- Rent</option>
                                <option>- Maintenance</option>
                            </optgroup>
                            <option>Personal</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <div class="input-group border">
                        <span class="input-group-text text-theme"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table footable" data-show-toggle="true">
                <thead>
                    <tr class="text-muted">
                        <th class="w-12"></th>
                        <th class="">ID</th>
                        <th>Raised By</th>
                        <th data-breakpoints="xs sm">Contact Details</th>
                        <th data-breakpoints="xs sm">Assigned To</th>
                        <th data-breakpoints="xs">Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>2054ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-1.jpg');">
                                        <img src="assets/img/user-1.jpg" alt="" class="d-none" name="userimage" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">David Warner</p>
                                    <p class="text-secondary small">United Kingdom</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">david@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Jr. Sing</p>
                            <p class="text-secondary small">Technical Helpdesk</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-yellow">Pending</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>105ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-2.jpg');">
                                        <img src="assets/img/user-2.jpg" alt="" class="d-none" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">Winnie John</p>
                                    <p class="text-secondary small">Australia</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">winnie@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Brett Lee</p>
                            <p class="text-secondary small">Assi. Server Expert</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-blue">Waiting</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>058ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-3.jpg');">
                                        <img src="assets/img/user-3.jpg" alt="" class="d-none" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">Alicia Smith</p>
                                    <p class="text-secondary small">United States</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">alicia@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Gal Seddist</p>
                            <p class="text-secondary small">Finance Head</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-green">Complete</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>500ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-4.jpg');">
                                        <img src="assets/img/user-4.jpg" alt="" class="d-none" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">Jr. Chen Li</p>
                                    <p class="text-secondary small">United Kingdom</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">cheli@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Tech Guruji</p>
                            <p class="text-secondary small">Product Manager</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-red">Rejected</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2054ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-1.jpg');">
                                        <img src="assets/img/user-1.jpg" alt="" class="d-none" name="userimage" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">David Warner</p>
                                    <p class="text-secondary small">United Kingdom</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">david@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Jr. Sing</p>
                            <p class="text-secondary small">Technical Helpdesk</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-yellow">Pending</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>105ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-2.jpg');">
                                        <img src="assets/img/user-2.jpg" alt="" class="d-none" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">Winnie John</p>
                                    <p class="text-secondary small">Australia</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">winnie@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Brett Lee</p>
                            <p class="text-secondary small">Assi. Server Expert</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-blue">Waiting</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>058ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-3.jpg');">
                                        <img src="assets/img/user-3.jpg" alt="" class="d-none" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">Alicia Smith</p>
                                    <p class="text-secondary small">United States</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">alicia@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Gal Seddist</p>
                            <p class="text-secondary small">Finance Head</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-green">Complete</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>500ID</td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-4.jpg');">
                                        <img src="assets/img/user-4.jpg" alt="" class="d-none" />
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                    <p class="mb-0">Jr. Chen Li</p>
                                    <p class="text-secondary small">United Kingdom</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">cheli@sales..core.com</p>
                            <p class="text-secondary small">+44 8466585****1154</p>
                        </td>
                        <td>
                            <p class="mb-0">Tech Guruji</p>
                            <p class="text-secondary small">Product Manager</p>
                        </td>
                        <td>
                            <span class="badge badge-sm bg-red">Rejected</span>
                        </td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row align-items-center mx-0 mb-3">
                <div class="col-6 ">
                    <span class="hide-if-no-paging">
                        Showing <span id="footablestot"></span> page
                    </span>
                </div>
                <div class="col-6" id="footable-pagination"></div>
            </div>
        </div>
    </div>
</div>