<ng-container *ngIf="actions.length > 0">
    <!-- <div class="d-inline-flex">
        <ng-container *ngFor="let action of actions">
            <button [class]="action.classList + ' mx-1'" data-bs-toggle="tooltip" data-bs-placement="right" title="{{action.label}}"
                (click)="onActionClick(action.cmd)">
                <i class="{{action.icon}}"></i>
            </button>
        </ng-container>
    </div> -->
    <div class="d-flex">
        <ng-container *ngFor="let action of new_data">
            <button [class]="action.classList + ' mx-1'" data-bs-toggle="tooltip" data-bs-placement="right" title="{{action.label}}"
                (click)="onActionClick(action.cmd)" *ngIf="action.mostrar==true">
                <i class="{{action.icon}}"></i>
            </button>
        </ng-container>
    </div>
</ng-container>