<div class="page-header" *ngIf="profile">
    <h1 class="page-title my-auto">Jatun Ayllu | Bienvenid@: {{profile.nombre}} {{profile.apellido}}</h1>
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"> <a href="javascript:void(0)"><i class="fe fe-home"></i></a></li> 
            <li class="breadcrumb-item"> <a href="javascript:void(0)">Dashboard</a></li>
        </ol> 
    </div>
</div>

<!-- ROW OPEN  *ngIf="group_name=='AFILIADO'" -->
<div class="row my-3" *ngIf="rango && group_name=='AFILIADO'">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-dark img-card box-dark-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0">{{rango.rango.name}}</h2>
                        <p class="text-white mb-0">Rango</p>
                    </div>
                    <div class="ms-auto text-end"><img src="{{rango.rango.url_img}}" alt="" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-primary img-card box-secondary-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{rango.cantidad_puntos}} PTS.</h2>
                        <p class="text-white mb-0">Puntos</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-secondary img-card box-secondary-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{rango.num_afiliados}}</h2>
                        <p class="text-white mb-0">N° Afiliados</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-success img-card box-success-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{rango.directos}}</h2>
                        <p class="text-white mb-0">Directos</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECOND ROW -->
    <!-- COL END -->
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-info img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{rango.n_reconsumos_standar}}</h2>
                        <p class="text-white mb-0">N° Reconsumos Estándar</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-ticket text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-warning img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{rango.n_reconsumos_premium}}</h2>
                        <p class="text-white mb-0">N° Reconsumos Premium</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-ticket text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
    <!-- <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="card bg-warning img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">S/ {{rango.cantidad_puntos.n_reconsumos}}</h2>
                        <p class="text-white mb-0">Comision Mes</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- COL END -->
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-danger img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">S/ {{((+rango.rango.ganancia)+rango.ganancias_reconsumo+comisiones).toFixed(2)}}</h2>
                        <p class="text-white mb-0">Comisión del Mes</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-money text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-info img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{days}} Días</h2>
                        <p class="text-white mb-0">Finalizar Mes</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-calendar-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>
<div class="row my-3" *ngIf="reporte && group_name=='ADMINISTRADOR'">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-secondary img-card box-secondary-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{data_afiliado}}</h2>
                        <p class="text-white mb-0">N° Afiliados</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-success img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{reporte.cantidad_normal}}</h2>
                        <p class="text-white mb-0">N° Reconsumos Estándar</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-ticket text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-warning img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{reporte.cantidad_premiun}}</h2>
                        <p class="text-white mb-0">N° Reconsumos Premium</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-ticket text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="card bg-info img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">{{days}} Días</h2>
                        <p class="text-white mb-0">Finalizar Mes</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-calendar-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>
<div class="row my-5">
    <div class="col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="card">
        <div class="card-body text-center">
        <div>
            <h2>Bienvenido a tu Panel</h2>
            <h6>Vamos por nuestros objetivos</h6>
        </div>
        <div class="my-2">
            <img src="https://media.discordapp.net/attachments/1020406785640779888/1050307899328581672/2.png" alt="">
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4"></div>
</div>
<!-- SPINNER -->
<ngx-spinner type="timer"></ngx-spinner>