<div class="row h-100">
    <!-- left block-->
    <div class="col-12 col-md-12 h-100 overflow-y-auto">
        <div class="row h-100">
            <div class="col-12 mb-auto">
                <!-- header -->
                <header class="header">
                    <!-- Fixed navbar -->
                    <nav class="navbar">
                        <div class="container-fluid">
                            <a class="navbar-brand" routerLink="/pages/dashboard/home">
                                <div class="row">
                                    <div class="col-auto"><img src="assets/img/favicon48.png" name="logoimage" class="mx-100" alt="" /></div>
                                    <div class="col ps-0 align-self-center">
                                        <h5 class="fw-normal text-dark">WinDOORS</h5>
                                        <p class="small text-secondary">Admin App UI</p>
                                    </div>
                                </div>
                            </a>
                            <div>
                            </div>
                        </div>
                    </nav>
                </header>
                <!-- header ends -->
            </div>
            <div class="col-12 align-self-center py-4 text-center">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7 col-xl-6 col-xxl-4">
                        <div class="row gx-2 justify-content-center align-items-center mb-4">
                            <div class="col-auto">
                                <span id="days" class="display-3 fw-medium" #dayEl></span>
                                <br>
                                <small class="text-secondary">Days</small>
                            </div>
                            <div class="col-auto fw-medium">:</div>
                            <div class="col-auto">
                                <span id="hrs" class="display-3 fw-medium" #hoursEl></span>
                                <br>
                                <small class="text-secondary">Hours</small>
                            </div>
                            <div class="col-auto fw-medium">:</div>
                            <div class="col-auto">
                                <span id="min" class="display-3 fw-medium" #minEl></span>
                                <br>
                                <small class="text-secondary">Minutes</small>
                            </div>
                            <div class="col-auto fw-medium">:</div>
                            <div class="col-auto">
                                <span id="sec" class="display-3 fw-medium" #secEl></span>
                                <br>
                                <small class="text-secondary">seconds</small>
                            </div>
                        </div>
                        <h1 class="display-3" id="timer"></h1>
                        <h1 class="display-5 text-gradient">We're coming soon...</h1>
                        <p class="h4 fw-light mb-4 mb-md-5">We are at the edge of our final release.</p>
                        <p class="text-secondary mb-3">Get the latest update by subscribing our newsletter</p>

                        <div class="form-group position-relative check-valid mw-400 mx-auto">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-envelope"></i></span>
                                <div class="form-floating">
                                    <input type="email" placeholder="Subscribe email news" value="guest@maxartkiller." required="" class="form-control border-start-0" autofocus="">
                                    <label for="email">Subscribe email news</label>
                                </div>
                                <!-- submit button -->
                                <button class="btn btn-lg btn-theme z-index-5 btn-square-lg" type="button" id="submitbtn"><i class="bi bi-arrow-right"></i></button>
                            </div>
                        </div>

                        <br>
                        <p class="text-secondary mt-3 mt-lg-4">Stay tuned with us</p>
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://www.facebook.com/maxartkiller/" target="_blank">
                                    <i class="bi bi-facebook h5"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://twitter.com/maxartkiller" target="_blank">
                                    <i class="bi bi-twitter h5"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://linkedin.com/company/maxartkiller" target="_blank">
                                    <i class="bi bi-linkedin h5"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="https://www.instagram.com/maxartkiller/" target="_blank">
                                    <i class="bi bi-instagram h5"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-auto">
                <!-- footer -->
                <footer class="footer row">
                    <div class="col-12 col-md-12 col-lg py-2">
                        <span class="text-secondary small">Copyright @2022, Creatively designed by <a href="https://maxartkiller.com" target="_blank">Maxartkiller</a> on Earth ❤️</span>
                    </div>
                    <div class="col-12 col-md-12 col-lg-auto align-self-center">
                        <ul class="nav small">
                            <li class="nav-item"><a class="nav-link" href="help-center">Help</a></li>
                            <li class="nav-item">|</li>
                            <li class="nav-item"><a class="nav-link" href="terms-of-use.html">Terms of Use</a></li>
                            <li class="nav-item">|</li>
                            <li class="nav-item"><a class="nav-link" href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </footer>
                <!-- footer ends -->
            </div>
        </div>
    </div>

</div>